<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-04" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">April 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://swordshield.com/newsletters/images/2016/04/cyber-insurance-tablet-key.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Cyber Liability Insurance: A New Normal for Business Risk Protection</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">The global cost of data breaches will rise from about <a href="http://www.juniperresearch.com/home" target="_blank">$600 billion in 2016 to more than $2.5 trillion in 2020</a>.
						<br><br>
						Even in years when severe weather disasters wreak havoc, the price tag on the damage these natural disasters cause doesn't equal the losses a data breach can cost.
						<br><br>
						So why is insuring against natural disasters fully understood as a cost of doing business, but cyber insurance is still something "only big companies" need?
						<br><br>
						While we read more about major network breaches that target large companies like Home Depot, Neiman Marcus, JP Morgan, Target, Blue Cross and others, the fact is that cyber criminals are now attacking more small to mid-sized businesses because, many times, they don't have the IT staff necessary to monitor network security.
						<br><br>
						Mid-sized businesses also continue to underestimate cyber threats because many of their senior executives do not fully understand these emerging threats, according to the <a href="http://www.naic.org/cipr_topics/topic_cyber_risk.htm">Center for Insurance Policy and Research</a>. These executives also have little actuarial data regarding cyber risk insurance and shy away from purchasing coverage as a result.
						<br><br>
						Cyber insurance is also a relatively new business product with a variety of immature policies. Companies need a specialized expert to help with cyber insurance coverage because there is no standard insurance policy for cyber liability and data breach insurance.
						<br><br>
						Sword &amp; Shield and our partner, Affenix, offer a two-step solution to help companies navigate the cyber insurance field. We can help you mitigate risk through our comprehensive suite of security services while also transferring that risk by offering the most comprehensive cyber liability and data breach insurance on the market.
						<br><br>
						Call us at 865-244-3500 or email us at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a> or <a href="mailto:insureme@affenix.com" target="_blank">insureme@affenix.com</a>.
						<br><br>
						Read more on cyber insurance here:
						<br><br>
						<a href="https://www.swordshield.com/2016/04/retailers-need-address-cyber-risk/" target="_blank">To Combat Cyber Risk, Retailers Should Consider Cyber Insurance</a>
						<br><br>
						<a href="https://www.swordshield.com/2016/04/what-is-appetite-cyber-security-insurance/" target="_blank">What is Your Appetite for Cyber Security Insurance?</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/01/russel-vantuyl-headshot.jpg" style="display: block; float: right;" width="200" height="181"  align="right">Sword &amp; Shield Security Analyst Russel van Tuyl talks with WVLT Channel 8's Kyle Warnke about how to detect skimmers on ATMs.
							<br><br>
							Customers of a local credit union recently were victimized as a result of a skimmer placed on one of the credit union's machines.
							<br><br>
							<a href="https://www.swordshield.com/2016/04/detecting-atm-skimmers/" target="_blank">See the Full Story</a></div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2016/04/Bsides-Knoxville.jpg" style="display: block; float: right;" width="200" height="234" align="right"><strong>Sword &amp; Shield Nets Three Speaking Positions at BSides Knoxville</strong>
								<br><br>
								Sword &amp; Shield Principal Analyst Matt Smith and Security Analysts Russel Van Tuyl and Andrew Smith will be presenting talks at BSides Knoxville on Friday, May 20 at Scruffy City Hall.
								<br><br>
								Matt Smith is discussing, "The Natural Laws and Consequences of Cyber Insecurity," Russel Van Tuyl will speak to the "PowerShell for Cyber Warriors," and Andrew Smith will present, "Microsoft Windows Privilege Escalation."
								<br><br>
								<a href="https://www.swordshield.com/2016/04/sword-shield-nets-speaking-positions-b-sides-knoxville/" target="_blank">Read the Story</a></div>
							</td>
						</tr>
						<tr id="footer">
							<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
								<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
								<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>