<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-08" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">August 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://swordshield.com/newsletters/images/2016/08/edge2016-keynotes.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Conference Keynote Speakers Give You The EDGE</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">
							A former hacker-turned-cybercrime-expert and the first female Chief Information Officer at the White House will keynote EDGE2016, a new world-class information security conference in Knoxville, Tenn Oct. 18-19.
							<br><br>
							Former White House CIO Theresa Payton, now the founder and CEO of Fortalice Solutions, will discuss why investments in cybersecurity have not eliminated attacks and breaches and how organizations can better secure their assets.
							<br><br>
							She will also take the audience behind the headlines and discuss whats not being said about cybersecurity and behind the curtains about her time spent at the White House.
							<br><br>
							Author and Wired Magazine Editor Kevin Poulsen will take the audience through the ins and outs of cybercrime by giving examples of his first-hand experiences. Poulsen literally broke into the cybersecurity game by breaking into a radio stations telephone lines, ensuring hed be the correct caller to win a Porsche before moving onto hacking into the FBIs network.
							<br><br>
							He will outline the various security vulnerabilities that could exist in any organization and what you need to do to improve your security.
							<br><br>
							EDGE2016 will also feature track sessions with speakers from a variety of industries including healthcare, retail, manufacturing, banking and finance, legal and government.
							<br><br>
							The conference takes place at the Crowne Plaza Hotel in downtown Knoxville, which is within walking distance of more than 70 restaurants and pubs, a variety of locally-owned shopping venues, world-class theaters and public parks.
							<br><br>
							<a href="https://edgesecurityconference.com/#registration">Register</a> by Monday, Aug. 22 to receive an early-bird discount of $50.
							<br><br>
							Get <a href="https://edgesecurityconference.com/">The EDGE!</a>
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">On the Blog</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>You are Your Company's Worst CyberSecurity Threat</strong><br><br>
							The biggest cybersecurity threat to your organization in 2016 isnt Russian or Chinese hackers. It isnt nefarious plots schemed by cyber spies, either.
							<br><br>
							<img src="https://swordshield.com/newsletters/images/2016/08/employees-company-threat.jpg" style="display: block; float: right;" width="278" height="188" align="right">In fact, according to reports, the biggest threat to your companys data loss is YOU.
							<br><br>
							According to IBMs CyberSecurity Intelligence Index, no less than 95 percent of all data security incidents are triggered by human error: employees who are getting tricked by digital scams.
							<br><br>
							While it may sound more intriguing to think Boris from Moscow is nefariously writing code to steal your customer information or intellectual data, its usually just Brian from accounting who downloaded a PDF of an invoice filled with malicious code.
							<br><br>
							The IBM report revealed while insiders were responsible for 60 percent of all attacks in 2015 up from 55 percent in 2014 roughly one-third of those attacks were carried out by inadvertent actors in 2015, compared with nearly one-half the previous year. Inadvertent actors are typically well-meaning employees (or other insiders) who either mistakenly allow an attacker to access your organizations data or fail to pay attention to your companys cybersecurity policies (if you have them!).
							<br><br>
							Phishing scams or malware-laden email attachments make up the vast majority.
							<br><br>
							Your employees probably arent scheming to take over your business or fleece your customers, but if theyre not practicing good cybersecurity, they are endangering your data.
							<br><br>
							<a href="https://www.swordshield.com/2016/08/companys-worst-cybersecurity-threat/">Read More</a>
							<br><br>
							Also see: <a href="https://www.swordshield.com/2016/08/turn-employees-cybersecurity-specialists/">Turn Your Employees into CyberSecurity Specialists</a></div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>Chris Lyons Tells Medical Group What to Expect from an OCR Audit</strong><br><br>
								<img src="https://swordshield.com/newsletters/images/2016/08/chris-lyons.jpg" style="display: block; float: right;" width="250" height="220" align="right">Sword &amp; Shield Security Consultant Chris Lyons will present Responding to an Office for Civil Rights Audit to the Nashville chapter of the Medical Group Management Association on Sept. 13 from 11:30 a.m. to 1 p.m.
								<br><br>
								Lyons will present several common issues that the OCR finds during audits of covered entities and business associates. The most common problems are the lack of a proper risk assessment and unencrypted devices.
								<br><br>
								Many companies either lack a risk assessment or do not have a properly documented risk assessment that includes identified risks, a proper remediation plan and proof of remediation efforts.  Lyons will discuss the proper procedures for conducting risk assessments and documenting the required proof of a proper risk assessment.
								<br><br>
								The luncheon will be held at the Kraft CPA offices at 555 Great Circle Road in Nashville.
								<br><br>
								See the <a href="https://nmgma.site-ym.com/events/EventDetails.aspx?id=784707&group=">MGMA website</a> to register.
							</div>

					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>