<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-11" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">November 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/11/online-holiday-shopping.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Holiday Shopping Safety Series</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>SHOPPING VIA CREDIT CARDS AND E-COMMERCE</strong><br><br>
It's that time of year again: stores closing for a couple of hours (if at all) on Thanksgiving while others are completely closed. Black Friday is creeping into Thursday and cutting into turkey overload time. Starbucks has the peppermint syrup for our frappuccinos, lattes, and mocha drinks. Families are shopping for the best deals for the perfect gifts for their loved ones. Christmas (and Santa Claus) is coming.
<br><br>
Because the cash flow is on the rise, the activity of cyber criminals is increasing as well. The purpose of this blog series is to educate you about how to be safe through this season including Black Friday, Small Business Saturday, and Cyber Monday. While I try to be thorough, I cannot possibly cover everything, but I try.
 <br><br>
<strong>Analysis</strong><br>
With the rise of online retailers, and conventional, brick and mortar retailers having online presences, the Internet continues to cement itself as a viable way to save money.  In addition, the Internet is a place of glee, danger, savings, and mischief. Because cyber crooks know that people are ready and willing to spend money online, they are ramping up their campaigns and strategies to trick consumers into giving up their payment card information or to make bogus purchases.
 <br><br>
The sections below provide anecdotal scenarios of the attacks you may encounter that targets your credit card information:
 <br><br>
<strong>Insecure Websites</strong><br>
Insecure websites are not quite as malicious as some of the other online threats in that the sites, themselves, are not exactly what you need to worry about. The site may be legitimate or it may not be (see the Hoax Website section below), but you need to worry about the traffic youre passing to the website.
 <br><br>
As a point to begin the discussion, an insecure website is a very subjective term. In this context, I am referring to those lacking an SSL Certificate and the ability to verify and encrypt the connection. This is not always the case, as attackers are also able to obtain SSL Certificates. Other examples include bad coding, Cross Site Scripting (XSS), Cross Site Request Forgery (CSRF), and issues with the underlying database allowing attackers to obtain or manipulate any or all information contained within it.
<br><br>
<a href="https://www.swordshield.com/2016/11/safe-online-holiday-shopping/">Read the story</a>
<br><br>
See also:<br />
<a href="https://www.swordshield.com/2016/11/holiday-shopping-safety-series/">Holiday Scams and Hoaxes</a>
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">The CyberSecurity State of the Mid-Sized Company is Risky Business</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/11/cybercrime.jpg" style="display: block; float: right; margin: 0 0 20px 20px" width="300" height="200" align="right">
If your company employees 250 or more people a year and earns more than $10 million a year in revenue, your cybersecurity concerns are far different than your neighborhood shop with 20 employees and a significantly smaller budget.
<br><br>
Mid-sized businesses are often tucked away in the small-to-mid-sized business (SMB) category because, frankly, the federal government doesnt formally recognize a mid-sized category.
<br><br>
However, if your company posts between $10 million and $1 billion, according to the Ohio State Universitys National Center for the Middle Market, then youre a mid-sized company, and mitigating your cybersecurity challenges is more complicated.
<br><br>
According to the Ponemon 2016 State of CyberSecurity in SMBs report, 62 percent of SMBs say they are not effective at mitigating risks, vulnerabilities and attacks across their enterprise and they cite their biggest problem as not having the personnel to do so. Budget constraints and insufficient enabling of security technologies are also barriers to a stronger cybersecurity posture.
<br><br>
This is troubling in light of new studies that show cybercriminals view the mid-sized business as their sweet spot because they have the resources these thieves like to target, but not enough people and know-how to address it.
<br><br>
In addition, mid-sized businesses have a much harder time recovering from attacks than the big boys. Target, Home Depot and eBay, for example, have all recovered from the massive cyberattacks that besieged their enterprise, but 60 percent of smaller businesses that fall victim to cybercrime go out of business within six months because they can spend up to $50,000 recovering from each breach.
<br><br>
<a href="https://www.swordshield.com/2016/11/the-cybersecurity-state-of-the-midsized-company-is-risky-business/">Read more</a>
<br><br>
See also:<br/>
<a href="https://www.swordshield.com/2016/11/mid-sized-businesses-can-efficiently-improve-their-cybersecurity-with-a-vscc/">Mid-Sized Business Can Efficiently Improve their CyberSecurity with a vSCC</a>
						</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2016 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>