<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Introducting a Comprehensive HITRUST Solution</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-09" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">September 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://swordshield.com/newsletters/images/2016/09/hitrust-solution.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Introducing a Comprehensive HITRUST Solution</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Nearly 90 percent of all healthcare organizations have suffered at least one data breach in the past two years with an average cost of $2.2 million per attack.
							<br><br>
							Even just an allegation of a breach can result in an investigation of your organization by the U.S. Department of Health and Human Services Office for Civil Rights.
							<br><br>
							But, for most, it is virtually impossible to claim your organization is certified HIPAA compliant since just a handful of formal processes exist (also see our <a href="https://www.swordshield.com/hipaa-compliance-program/">HIPAA Compliance Program</a>).
							<br><br>
							The most notable method the <a href="https://hitrustalliance.net/">Health Information Trust Alliance</a> (HITRUST) works in collaboration with healthcare, technology and information security leaders to establish a Common Security Framework (CSF) that can be used by all organizations that create, access, store or exchange sensitive and/or regulated data.
							<br><br>
							However, the CSF is just one tool in the arsenal. Many healthcare providers also need the help of trained security and compliance assessors to provide a holistic and flexible, but uniform approach to their regulatory healthcare compliance and risk management goals.
							<br><br>
							With Sword &amp; Shield's <a href="https://www.swordshield.com/hitrust-compliance/">Comprehensive HITRUST Solution</a>, your healthcare organization will finally receive this integrated support.
							<br><br>
							<a href="https://www.swordshield.com/2016/09/introducing-new-comprehensive-hitrust-solution/">Read more.</a>
							<br><br>
							Also see:
							<br><br>
							<a href="https://www.swordshield.com/2016/09/need-help-hipaa-call-mssp/">Need Help with HIPAA? Call an MSSP.</a></div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #E84B3C; margin-bottom: 8px;">EDGE2016 Security Conference</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Many business leaders say they struggle to find time to stay up to date on the rules and regulations they must follow to maintain compliance.
								<br><br>
								<img src="https://www.swordshield.com/newsletters/images/2016/09/edge2016-banner.jpg" style="display: block; float: right;" width="300" height="141" align="right">Regulatory agencies continuously make updates, making it a full-time job for business owners to keep up with the changes.
								<br><br>
								In addition, cyber criminals are always inventing new ways to hack into business systems, making the security of an organizations data and networks a constant target.
								<br><br>
								At the <strong style="color: #E84B3C">EDGE2016</strong> Security Conference, it is our mission to educate our attendees on responsible enterprise security practices.
								<br><br>
								If your organization needs compliance training that requires Continuing Education Credits (CEUs), you can earn up to 16 Continuing Medical Education (CMEs), Continuing Learning Points (CLPs), Continuing Professional Education (CPEs) credits and up to 1.6 CEUs at the <strong style="color: #E84B3C">EDGE2016</strong> conference.
								<br><br>
								<strong style="color: #E84B3C">EDGE2016</strong> has compiled everything you and your employees need to know, including:
								<br><br>
								A deeper dive into compliance regulations such as HIPAA and PCI
								What to do when a data breach has occurred
								Reducing the risk of a data breach
								The products and services available to help you secure your data while remaining compliant
								<br><br>
								Dont miss the opportunity to take advantage of the educational promise of <strong style="color: #E84B3C">EDGE2016</strong>.
								<br><br>
								For a full list of knowledgeable speakers and topics, visit the <strong style="color: #E84B3C">EDGE2016</strong> website.
								<br><br>
								Get <a href="https://edgesecurityconference.com/">The EDGE</a></div>
								<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News</div>
								<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2016/09/will-overstreet-mc.jpg" style="display: block; float: right;" width="250" height="220" align="right"><strong>Former Vol/Atlanta Falcon Will Overstreet to emcee security conference</strong><br><br>
									By Ali James of the Knoxville News Sentinel
									Sept. 19, 2016<br><br>
									The first EDGE2016 Security Conference will be presented by Sword &amp; Shield Enterprise Security Inc. Oct. 18-19 at the Crowne Plaza.<br><br>
									"This is something that we have wanted to do for a long time now and we saw a great opportunity to get the security conference going," said John McNeely, president and CEO of Sword &amp; Shield Enterprise Security. "This is our inaugural year and we are committed to making this an annual event."
									<br><br>
									Sword &amp; Shield Enterprise is a national information security company that helps businesses across the country with various information and data security and in dealing with risk and compliance issues.
									<br><br>
								<a href="http://www.knoxnews.com/business/former-vol-linebacker-will-overstreet-to-emcee-security-conference-3c66550f-62ea-207f-e053-0100007f7-393994531.html">Read the story.</a></div>
							</td>
						</tr>
						<tr id="footer">
							<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
								<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
								<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>