<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Security Assessments are a part of modern business practice</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-01" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">January 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/01/cyber-lock.jpg" alt="Security Assessments are a part of good business practice" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">A Security Assessment is a Cost of Doing Business</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">You've either been hacked or you're going to be hacked. That's the reality of today's data security environment.<br><br>

						Security experts say your organization needs a mix of products and services to ensure that you're secure across your network, that your people are well trained and that the processes you have in place foster secure behavior.<br><br>

						A security assessment helps you find and fix vulnerabilities that could result in data breaches, which can result in fines, lawsuits, loss of critical data and reputation damages.<br><br>

						In today's world, a security assessment should be considered just another cost of doing business and may, in fact, give you a competitive edge since your customers can trust that you're doing everything you can to protect their personal information.<br><br>

						Read how a security assessment can help your organization:<br><br>

						<a href="https://www.swordshield.com/2016/01/a-security-assessment-is-worth-a-pound-of-cure/">A Security Assessment is Worth a Pound of Cure</a><br><br>

						<a href="https://www.swordshield.com/2016/01/strategic-security-assessment-helps/">A Strategic Security Assessment Helps You Understand Your Security Posture</a></div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In the News</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/01/bill-dean.jpg" style="display: block; float: right;" width="125" height="112" align="right">Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean talks to WATE Channel 6's Kristin Farley about the dangers of over-sharing personal information on social media accounts.<br><br>

<a href="https://www.swordshield.com/2016/01/sword-shield-expert-warns-about-the-dangers-of-over-sharing-on-social-media/">Watch the video.</a><br><br>


<img src="https://www.swordshield.com/newsletters/images/2016/01/russel-vantuyl-headshot.jpg" style="display: block; float: right;" width="125" height="112" align="right">Sword &amp; Shield Security Analyst Russel Van Tuyl talks with WVLT Channel 8's Steven Powell about call spoofing and how to recognize it.<br><br>

<a href="https://www.swordshield.com/2016/01/dont-be-a-victim-of-call-spoofing/">See the story.</a></div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>

						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/01/locked-data.jpg" style="display: block; float: right;" width="150" height="112" align="right">Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will describe the threat landscape and the steps organizations should take to protect themselves in an hour-long webinar Friday, Feb. 5 at 10 a.m.<br><br>

						<a href="https://www.eventbrite.com/e/addressing-your-advanced-threats-tickets-20054981991">Register here.</a></div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>