<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Announcing the EDGE2016 Security Conference</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-07" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">July 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/07/edge-email-banner.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Announcing the EDGE2016 Security Conference</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Sword &amp; Shield has long envisioned bringing a world-class conference to the region that brings business executives and IT professionals together to work through today's cybersecurity challenges.
							<br><br>
							We're pleased to announce that we will host the EDGE2016 Security Conference October 18-19 at the Crowne Plaza in Knoxville.
							<br><br>
							EDGE2016 is an emerging, world-class conference which brings business and security professionals together to work through complex business security problems to find real-world solutions. In addition to compelling keynote addresses from some of the brightest minds within the community, there will be specific discussions and topical roundtables led by industry experts tasked with the goal of solving real security problems.
							<br><br>
							"As a trusted security partner to our customers and our presence in the markets we serve, Sword &amp; Shield is in the unique position in this region to host a conference like EDGE2016," said John McNeely, president of Sword &amp; Shield Enterprise Security. "One of our goals for the conference is to bring together information security practitioners and business leaders truly for the betterment of the security community. We can all agree that educating ourselves about the potential risks facing companies today is important.  But, isn't it time to go beyond education and actually solve the problems? EDGE2016 provides the perfect environment for the type of innovation and collaboration that moves the conversation forward to action."
							<br><br>
							Keynote speakers at the conference include Theresa Payton, former White House CIO, cybersecurity authority and expert on identity theft and the Internet of Things (IoT); and Kevin Poulsen, a former hacker once wanted by the FBI turned cyber security expert and currently the editor at Wired.
							<br><br>
							<a href="https://edgesecurityconference.com/">Register by Aug. 15 and receive an early bird discount</a>.</div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">On the Blog</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>The Union of Security and Compliance</strong></div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2016/07/cyber-horizon.jpg" style="display: block; float: right; margin-bottom: 20px;" width="150" height="200" align="right">It's no big secret that some of the big-name companies whose customer data was breached had met compliance standards prior to the intrusions.
								<br><br>
								That's because being compliant can sometimes lead companies into believing they're also secure.
								<br><br>
								The data security experts at Sword &amp; Shield recommend that organizations use their industry compliance regulations as a security starting point &ndash; a prescriptive direction &ndash; but warn it should not replace the detailed security strategies all companies need in order to maintain a secure profile.
								<br><br>
								Read the post: <a href="https://www.swordshield.com/2016/07/can-compliant-secure/">You Can Be Both Compliant and Secure</a>
								<br><br>
								Also see: <a href="https://www.swordshield.com/2016/07/pci-compliance-start-security/">PCI Compliance Should Start with Security</a></div>
								<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News...</div>
								<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>Bill Dean Discusses How Social Media is Changing the Way Content is Perceived</strong></div>
								<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Over the July 4th weekend,  Minnesota public school employee Philando Castile's fiancé, Diamond Reynolds, used her phone to record the aftermath of Castile's shooting, allegedly by a police officer, and live-streamed it on her Facebook account.
									<br><br>
									Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean discusses how social media is changing the way content is perceived on WVLT Channel 8 in the wake of the incident.
									<br><br>
									<a href="http://www.local8now.com/content/news/Social-media-changing-the-way-content-is-perceived--386017431.html">Watch the video</a></div>
								</td>
							</tr>
							<tr id="footer">
								<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
									<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
									<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>