<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top" style="background: #eeeeee;">
            <table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
                <tr>
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-06" style="color: #999999;">View it online</a>.</td>
                </tr>
                <tr>
                    <td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
                            <tr>
                                <td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
                                <td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">June 2016</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><img src="https://www.swordshield.com/newsletters/images/2016/06/locked-hard-drive.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
                </tr>
                <tr>
                    <td style="background-color: #fff; padding: 20px; width: 600px;">
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Are You Focusing on the Wrong Threats?</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">You've probably been breached already.
                            <br>
                            <br> No kidding.
                            <br>
                            <br> So, instead of focusing on the wrong threats, you should "assume breach" and begin to collect the data you'll need to help you prevent further attacks.
                            <br>
                            <br> In other words, assume that your average security controls are inadequate to stop a breach and concentrate on limiting the damage a hacker can do once (s)he is inside your network.
                            <br>
                            <br> For too long, network security has focused on protecting the perimeter. This is certainly vital, but focusing only on this has left our systems more vulnerable to attack.
                            <br>
                            <br> Research suggests that 99 percent of the most successful attacks occur because of unpatched software and social engineering, but we're simply not aligning our resources to focus on these things because of the never-ending onslaught of new security threats we're challenged with facing.
                            <br>
                            <br> To combat this thinking, you need data. And a data-driven security plan helps focus your attention on where your network is the most vulnerable.
                            <ul>
                                <li>Collect better threat intelligence,</li>
                                <li>Rank risks based on that intelligence,</li>
                                <li>Use logging and monitoring to collect metrics; and,</li>
                                <li>Create policies and procedures based on these rankings and metrics</li>
                            </ul>
                            While it's good to know that your firewall is blocking malware or your scanners have found thousands of vulnerable exploits, a better metric is to find out how many malware programs your antimalware software failed to detect and for how long.
                            <br>
                            <br> But sometimes even large organizations don't have the time or tools to assess this: was it unpatched software, a phishing email or a misconfiguration?
                            <br>
                            <br> A Strategic Security Assessment or on-going Managed Security Services can assist in answering these questions over the long-haul.
                            <br>
                            <br> An SSA can tell you everything about your security environment and what your company is doing (or not doing) to safeguard your systems while a Managed Security Service Provider can perform logging and monitoring and gather security intelligence to help you align your resources.
                            <br>
                            <br> "Assuming breach" isn't admitting defeat, it's simply learning from experience to build a better defense.
                            <br>
                            <br> Please call 865-244-3500 or email us at secureme@swordshield.com if we can lend you our experience to secure your future.
                            <br>
                            <br> Read more about digital forensics:
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/05/are-you-kidding-me/">Are You Kidding Me?</a>
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/06/digital-forensics-spending-expected-double-2021/">Digital Forensics Spending Expected to Double</a>
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/06/what-is-your-networks-normal/">What's Your Network's "Normal?"</a></div>
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save The Date</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>(ISC)<sup>2</sup> CISSP Training</strong>
                            <br>
                            <br> Sword &amp; Shield's official five (5)-day (ISC)<sup>2</sup> CISSP Certification Training gets you trained, certified and back to work within a week with the skills necessary to protect your organization from hackers, attackers and security threats.
                            <br>
                            <br><img src="https://swordshield.com/newsletters/images/2016/06/isc2.600x285.png" style="display: block; float: right;" width="300" height="143" align="right">Our program always delivers the most up-to-date, authorized content and is backed by our certification process. The course includes an exam voucher that can be used at any (ISC)<sup>2</sup>-approved testing facility.
                            <br>
                            <br> This training course is intended for professionals who have at least five years of recent full-time professional work experience in two or more of the eight domains of the CISSP CBK and are pursuing CISSP training and certification to acquire the credibility and mobility to advance within their current information security careers.
                            <br>
                            <br> Our next class is July 18-22 and the cost of the class with a test voucher is $3,495. The price without the test voucher is $2,995.
                            <br>
                            <br><a href="https://landing.swordshield.com/cissp-training-registration">Register for your class now</a>
                        </div>
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News...</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>Sword &amp; Shield Continues Streak as Top Tennessee Solutions Provider</strong>
                            <br>
                            <br>
                            <img src="https://swordshield.com/newsletters/images/2016/06/crn-solution-provider-500-2016.136x272.png" style="display: block; float: right;" width="68" height="136" align="right">Sword &amp; Shield Enterprise Security remains the highest ranked Tennessee company on the 2016 Solutions Provider 500 (SP500) list, making this the 10th year in a row the IT security and compliance company has appeared on the distinguished lineup.
                            <br>
                            <br> The SP500 is CRN's predominant channel partner award list, serving as the industry standard for recognition of the most successful solution provider companies in the channel since 1995.
                            <br>
                            <br> Sword &amp; Shield came in at No. 117 on the 2016 list.
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/06/sword-shield-continues-streak-top-tennessee-solutions-provider/">Read more</a>
                            <br>
                            <br><strong>Protecting Yourself from Scammers</strong>
                            <br>
                            <br> Sword &amp; Shield Security Analyst Russel Van Tuyl talks with WVLT about how to protect yourself and your personal data from scam artists.
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/06/protecting-yourself-from-scammers/">Watch the Video</a></div>
                    </td>
                </tr>
                <tr id="footer">
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.
                        <br>
                        <br>
                        <a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a>
                        <br>
                        <br>
                        <a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
