<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-12" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">December 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/12/dr-with-privacy-sign.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Expect the FTC to Focus on Data Privacy and Security in 2017</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">
If you're a healthcare organization or the business associate of one, you're probably well aware of HIPAA and know you're under the authority of the Department of Health and Human Services Office for Civil Rights (OCR).
<br><br>
However, you may not know that your for-profit company is also subject to the Federal Trade Commission (FTC) Act. This act states that companies cannot engage in deceptive or unfair acts.
<br><br>
The FTC Act has been around since 1914, but recent litigation involving companies the agency says failed to protect consumers personal information spurred the <a href="https://www.ftc.gov/reports/privacy-data-security-update-2015">2015 Privacy &amp; Data Security Update</a>.
<br><br>
This update means that every covered entity that uses or discloses consumer health information for commercial activities other than treatment, payment or healthcare operations must first get written permission from the client through a valid HIPAA authorization. In 2017, expect the FTC to focus more on applying the privacy and data security update to covered entities.
<br><br>
These entities must make sure all of their statements to consumers don't create a deceptive or misleading impression, the guidance warns. Even if you believe your authorization meets all the elements required by the HIPAA Privacy Rule, if the information surrounding the authorization is deceptive or misleading, that's a violation of the FTC Act.
<br><br>
While the election of Donald J. Trump may signal a reduction in many types of regulatory authority, <a href="https://www.bna.com/ftc-gridlock-unlikely-n57982082377/">experts believe</a> the push to implement the privacy and data security standard will continue. Trump's pick to run the FTC transition team, Dr. Joshua D. Wright, has written extensively on how the FTC should beef up its role in helping businesses understand the economics of privacy policy.
<br><br>
To comply with the FTC Act, covered entities and business associates should:
<ul>
<li>Review the user interface of their HIPAA authorizations for disclosures of consumer health data for commercial activities.</li>
<li>Consider the various devices consumers may use to view these disclosure claims.</li>
<li>Remember the same requirements apply to paper disclosures.</li>
</ul>
HIPAA compliance experts warn healthcare organizations not to become complacent. Your organization could be compliant with one regulation, but not with the other.
<br><br>
Sword &amp; Shield Enterprise Security offers a variety of HIPAA compliance solutions. For more information, please call us at 865-244-3500, email us at <a href="mailto:secureme@swordshield.com">secureme@swordshield.com</a>, or fill out a <a href="https://landing.swordshield.com/request-a-consultation">consultation request</a>.
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Begin the New Year with a New Knoxville Cyber Sessions on Cloud Security</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/12/cloud-security-600x470.jpg" style="display: block; float: right;" width="300" height="235" align="right">Sword &amp; Shield Managing Consultant for Enterprise Security Solutions Scott Partelow will start 2017 with a discussion on Cloud security at the next Knoxville Cyber Sessions Thursday, Jan. 19 from 11:30 a.m. to 1 p.m.
<br><br>
In "Migrating your Data to the Cloud - How to Decide," Partelow will discuss the pros and cons of migration.
<br><br>
<a href="https://landing.swordshield.com/knoxville-cyber-sessions-cloud-migration">Register now</a> to join the discussion on solutions to Cloud migration issues.
<br><br>
Lunch is provided and will feature Southern BBQ.</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Be Instantly Notified of New Remote Access Agent Check-In via Slack</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px; font-weight: bold;">By Russel Van Tuyl</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/01/russel-vantuyl-headshot.jpg" style="display: block; float: right; margin: 0 0 10px 20px;" width="227" height="200" align="right">I really, really, really like shells. Nothing is better than that feeling you get when a  shell comes in. There are many ways to get a shell, but some of them take a while to produce. A phishing campaign that leverages malicious payloads is a good example where there might be delayed gratification on receiving a shell. The emails might be sent at eight in the morning, but who knows what time of day a victim will read the email and open the malicious attachment in such a manner that causes the payload to execute? Another example is a malicious USB device. It could be configured with a malicious payload and dispersed in a work area or parking lot, but who knows how long it will take for one to be plugged in?
<br><br>
I wanted a way to instantly be notified when a shell came in so I could drop everything I'm doing and immediately do a pwn dance. There are many ways this can be done, but I decided to leverage Slack for notification. I chose Slack because it can be installed on your mobile phone, your computer, or run in a web browser. The options are numerous. There is a solid chance I always have my phone with me, so I really like the idea of notifications on my phone.
<br><br>
This notification system relies on Slack's incoming WebHooks custom integrations. To create a new WebHook, click on the Add Configuration button for a Slack channel you control and start populating the integration settings. Figure 2 shows how I have my ShellBot integration configured. We will need the channel name, Webhook URL, username, and custom emoji (if used) to configure SlackShellBot later.
<br><br>
<a href="https://www.swordshield.com/2016/12/soc-warning-stealthy-stegoloader-can-evade-analysis-tools/">Read more &rarr;</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In the News</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px; font-weight: bold;">Van Tuyl Talks with WATE About the Latest Yahoo! Breach</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/12/russel-on-wate-12-2016.jpg" style="display: block; float: right; margin: 0 0 10px 20px;" width="300" height="186" align="right">Sword &amp; Shield Managing Consultant of Security Assessments <a href="http://wate.com/2016/12/14/yahoo-says-hackers-stole-information-from-over-1b-accounts/">Russel Van Tuyl talks with WATE News 6</a> about how to protect yourself after the latest Yahoo! breach.
<br><br>
Yahoo says it believes hackers stole data from more than one billion user accounts in August 2013.
<br><br>
The California company says it's a different breach from the one it disclosed in September, when it said 500 million accounts were exposed. This new hack revelation raises questions about whether Verizon will try to change the terms of its $4.8 billion proposed acquisition of Yahoo.</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2016 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>