<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-03" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">March 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/03/business-buildings.jpg" alt="Security Assessments" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Outsourcing Your IT Security: Access a Team of Professionals for Less Than the Cost of One</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">It's all over the news: data breaches, insider threats, phishing attacks, compliance failures and other security threats have cost many companies their financial standing and reputation.
							<br><br>
							If you're not certain your organization is doing everything it can to protect itself from cyber threats and non-compliance, chances are that you probably arent.
							<br><br>
							In 2015, alone, surveys say:
							<blockquote>
								The total cost of a data breach has grown to $3.8 million per incident.
								Companies have lost $1.6 million customers as a result of a data breach.
								66 percent of business leaders are not confident they can protect their organizations against data breaches.
							</blockquote>
							And, while many business leaders know they must address data security, most dont know where to begin to understand the state of their security posture.
							<br><br>
							An Enterprise Security solution can help.
							<br><br>
							As critical as information security is, not all organizations can justify the additional expense of hiring an internal resource. With the median salary for just one IT security professional ranging from $60,000 to $100,000, adding in benefits, taxes and other expenses, the cost of hiring additional employees can be prohibitive.
							<br><br>
							A Virtual Security and Compliance Consultant (vSCC) can help you choose which competencies your company needs now, adding guidance for overall information security, direction, governance and planning in a way that supports strategic business initiatives. This includes:
							<ul>
								<li>Security Management</li>
								<li>Policy and Procedure Development</li>
								<li>Strategic Planning</li>
								<li>Technology Assessment</li>
								<li>Architectures</li>
								<li>Capital Planning and Investment</li>
							</ul>
							Let Sword &amp; Shield be your team of security professionals. Call us at 865-244-3500 or email us at secureme@swordshield.com to see how we can secure your future.
							<br><br>
							More:
							<br><br>
							<a href="https://www.swordshield.com/2016/03/healthcare-data-security-is-more-than-just-hipaa/" target="_blank">Healthcare Data Security is More than Just HIPAA</a></div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2016/03/padlock.jpg" style="display: block; float: right;" width="125" height="82" align="right">Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean discusses how employers and their employees can better protect worker computers and mobile devices should these employees have to work off-site &ndash; as many did during Winter Storm Jonas in late January.
								<br><br>
								<a href="http://www.knoxnews.com/business/journal/internet-security-doesnt-take-a-snow-day-2b5bfd6f-5643-21f7-e053-0100007f7cd9-370955131.html" target="_blank">Read the story</a>.
								<br><br>
								<img src="https://www.swordshield.com/newsletters/images/2016/01/bill-dean.jpg" style="display: block; float: right;" width="125" height="112" align="right">Dean also talked with WVLT Channel 8's Lauren Davis about the security of airline boarding passes.
								<br><br>
								<a href="http://www.local8now.com/content/news/Boarding-passes-could-reveal-private-information--371319171.html" target="_blank">Watch the Video</a>.
							</div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/wp-content/uploads/2016/02/digital-finger.jpg" style="display: block; float: right; margin-left: 10px;" width="200" height="94" align="right">Join Sword & Shield and our partner, <a href="https://www.barracuda.com/" target="_blank">Barracuda Networks</a>, for a lunch and learn from 11:30 a.m. to 1 p.m. Thursday, March 24 at the Square Room in Market Square.
							<br><br>
							Sword &amp; Shield Director of Managed Services Brent Cantrell will discuss, Addressing Advanced Threats with Forensics.
							<br><br>
							Cantrell will explain how your company is effected by a data breach and how to use forensics to protect your systems.
							<br><br>
							Barracuda Channel Manager Brad Browning will present, Face Off Against Business Disruptions.
							<br><br>
							<a href="https://www.eventbrite.com/e/addressing-your-advanced-threats-tickets-20054981991" target="_blank">Register here</a>.</div>
						</td>
					</tr>
					<tr id="footer">
						<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
							<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
							<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>