<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2017-01" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">January 2017</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://swordshield.com/newsletters/images/2017/01/20th-anniversary.png" alt="Sword & Shield - Celebrating 20 Years - 1997 - 2017" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Sword &amp; Shield Comes of Age</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; font-style: italic; line-height: 20px; color: #404041; margin-bottom: 30px;">Knoxville-Based CyberSecurity Company Turns 20</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">It all started with John McNeely's ability to hack into an old Sun workstation to get root access.
<br><br>
The action by the current Sword &amp; Shield president and CEO caught the attention of Sword &amp; Shield founder James Goldstons wife, Sandy, who worked at Lockheed Martin with McNeely and mentioned McNeelys ability to her husband.
<br><br>
Sandy mentioned the hack to James and by March 1997, I got a visit from James, McNeely said. We had many meetings at the Chick-Fil-A and Chinese restaurants to discuss ideas of starting a network security company. In June of that year, I made the final decision to leave Lockheed Martin and officially work with James to launch Sword &amp; Shield.
<br><br>
Now, 20 years later, the company celebrates two decades with a series of staff recognitions and customer appreciation events.
<br><br>
Goldston, who had been working as an independent network security contractor, had filed the paperwork to found the company on Jan. 31, 1997, but didnt officially launch the business until McNeely joined him.
<br><br>
For the first few months the men worked at Goldstons kitchen table before eventually settling in a stand-alone, two-story garage on Goldstons property where they remained until 1999.
<br><br>
July through December was just a fun and exciting time, McNeely said. It was all about the possibilities. We could see that Internet commerce was growing and we knew network security would be a big deal. We went in without the greatest business plan in the world, but we had the passion, determination and grit to get through.
<br><br>
McNeely said he and Goldston wore many hats in those days, working as security analysts, salesmen, marketing specialists and office managers. A well-used fax machine served as their ordering system and created a stir every time the trademarked whirring noise spat out signed confirmations.
<br><br>
Both of us came from large, bureaucratic organizations, where everything is managed, so we enjoyed being in control, he said.
<br><br>
From the beginning, McNeely said the founders wanted to concentrate on private sector IT security needs, but, with their backgrounds in federal contracting, knew that federal contracts would add stability to the fledgling business.
<br><br>
<a href="https://www.swordshield.com/2017/01/sword-shield-turns-20/">Read more.</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">In The News</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2017/01/john_mcneely.jpg" style="display: block; float: right;" width="200" height="209" align="right">McNeely Named to CISC Board</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">John McNeely, president and CEO of <a href="https://www.swordshield.com/">Sword &amp; Shield Enterprise Security</a>, a leading national cybersecurity firm based in Knoxville, Tennessee, was recently appointed to the board of the <a href="https://www.cyberinfosec.org/">Cyber &amp; Information Security Consortium</a> (CISC), a 501(c)(3) non-profit corporation dedicated to enabling its members to effectively operate and protect their enterprises amid the reality of growing and persistent cyberattacks.
<br><br>
CISC grew out of an April 2016 event held at Oak Ridge National Laboratory with the goal of improving cybersecurity through a broad partnership of government, private sector and academia entities. Its four areas of strategic focus are cybersecurity workforce development, informing and educating the public and policy makers on cybersecurity issues, supporting and expanding research, development, and entrepreneurship in cybersecurity, and peer-to-peer information sharing among cybersecurity executives.
<br><br>
<a href="https://www.swordshield.com/2017/01/sword-shields-john-mcneely-joins-cisc-board/">Read more</a>.</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 20px; color: #404041; margin-bottom: 30px;">Mangione Makes 40 Under 40 List</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2017/01/mike-mangione-mug.jpg" style="display: block; float: right;" width="150" height="200" align="right">Sword &amp; Shield Director of Business Development Mike Mangione has made the Greater Knoxville Business Journals 40 Under 40.
<br><br>
This marks the 10th year that stand-out young professionals have been honored in the journal, a publication of the Knoxville News Sentinel.
<br><br>
Throughout the years, artists, engineers, CEOs, nonprofit leaders and entrepreneurs have been among the honorees.
<br><br>
<a href="http://www.knoxnews.com/story/money/business/journal/2017/01/02/40-under-40-mike-mangione/95126396/">Read his story in the Sentinel</a>.</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2016 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>