<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-02" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">February 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2016/02/compliance-return-key.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Get Ready for the OCR's Second-Phase Audits</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">The Department of Health and Human Services' Office of Civil Rights (OCR) has begun its second phase of audits to gauge covered entities' compliance with HIPAA's security and privacy requirements.
						<br><br>
						HIPAA-covered entities will have their compliance efforts put to the test and Business Associates will not escape. They too will be assessed using the HIPAA Privacy, Security and Breach Notification Rules.
						<br><br>
						Here are some things you need should the OCR come knocking at your door:
						<ul style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
							<li>A documented risk assessment.</li>
							<li>Written policies and procedures that address the privacy and security standards and any vulnerabilities that were found during the risk assessment.</li>
							<li>A written incident response plan for responding to breaches of unsecured Protected Health Information (PHI).</li>
							<li>A security plan for mobile devices and storage media and/or a Bring Your Own Device (BYOD) policy regarding your staff's personal mobile devices.</li>
							<li>A documented training program for new workforce members and periodically for all of your staff.</li>
							<li>A compliant Notice of Privacy Practices for patient review.</li>
							<li>Appropriate agreements with your business associates.</li>
						</ul>
						Read More:
						<br><br>
						<a href="https://www.swordshield.com/2016/02/mssp-can-help-you-stay-hipaa-compliant/">An MSSP Can Help You Stay HIPAA Compliant</a>
<br><br>
						<a href="https://www.swordshield.com/2016/02/you-need-a-risk-assessment-to-be-hipaa-compliant/">You Need a Risk Assessment to be HIPAA Compliant</a>
<br><br>
						<a href="http://blogs.reuters.com/financial-regulatory-forum/2016/01/26/impact-analysis-second-phase-audits-of-patient-privacy-compliance-starting-under-u-s-health-agency/">IMPACT ANALYSIS from a Compliance Attorney: Second phase audits of patient-privacy compliance starting under U.S. health agency</a>
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="images/2016/02/cardiologist-technology.jpg" style="display: block; float: right;" width="200" height="134" align="right"><strong><a href="https://www.eventbrite.com/e/understanding-the-sensitive-healthcare-data-you-keep-tickets-21034185816">Lunch and Learn: Understanding the Sensitive Healthcare Data You Keep</a></strong>
						<br><br>
						Join Sword &amp; Shield Vice President of Services Fred Cobb for lunch at the Crown Plaza, Salon B in downtown Knoxville and discover how to easily locate sensitive data throughout your network so that your organization can successfully maintain a high level of security and meet compliance requirements.
						<br><br>
						<a href="https://www.eventbrite.com/e/understanding-the-sensitive-healthcare-data-you-keep-tickets-21034185816">Register Here &rarr;</a>
						<br><br>
						<strong><a href="https://www.eventbrite.com/e/zero-to-fully-managed-a-security-service-program-webinar-registration-18247468670">Webinar: Zero to Fully Managed</a></strong><img src="images/2016/02/multiple-stations-smaller.jpg" style="display: block; float: right;" width="200" height="132" align="right">
						<br><br>
						Can a Managed Security Services Provider (MSSP) help you protect your business while keeping your bottom line in check?
						<br><br>
						Join Sword &amp; Shield Director of Managed Security Services Brent Cantrell on Tuesday, March 8 from 1 to 2 p.m. as he discusses how to become "Zero to Fully Managed."
						<br><br>
						<a href="https://www.eventbrite.com/e/zero-to-fully-managed-a-security-service-program-webinar-registration-18247468670">Register Here &rarr;</a>
						</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>