<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-05" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">May 2016</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://swordshield.com/newsletters/images/2016/05/keyboard-with-card.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">PCI DSS 3.2: What You Need to Know</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">New multi-factor authentication rules, added service provider regulations and extended migration dates are among the features of the newly-released Payment Card Industry Data Security Standard 3.2 upgrade.
<br><br>
The upgrade, released in late April, spells out some significant changes in how cardholder data is accessed. The move comes as a result of the <a href="http://www.verizonenterprise.com/verizon-insights-lab/dbir/2016/" target="_blank">Verizon 2016 Data Breach Investigations Report</a> that confirms 63 percent of all breaches involved weak, default or stolen passwords.
<br><br>
PCI DSS 3.2 now requires that system administrators who have access to a Cardholder Data Environment (CDE) must use multi-factor authentication. Single-factor authentication for local access is no longer acceptable.
<br><br>
In addition to local access changes, the new regulations also put a heavier burden on service providers. These are the organizations that help merchants store, process or transmit customer data.
<br><br>
PCI DSS 3.2 requires service providers to detect and report on the failing of critical security control systems and to have a penetration test every six months in addition to running quarterly checks to ensure their personnel are following security protocols.
<br><br>
Finally, the new rules extend the time merchants should switch from the less secure Security Sockets Layer (SSL) and early Transport Layer Security (TLS) clients to the more secure version of TLS (currently 1.0 or higher). The transition initially was to be required by July 1 of this year, but the PCI Council pushed back the date to July 1, 2018 to ease the transition.
<br><br>
For more information on the new requirements, please visit the <a href="http://blog.pcisecuritystandards.org/preparing-for-pci-dss-32">PCI Council's website</a>.
<br><br>
Sword &amp; Shield's experts are also happy to help you choose your path to compliance. Give us a call at 244-3500 or email us at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a>
<br><br>
For more information on PCI and the new security standards, please see:
<br><br>
<a href="https://www.swordshield.com/2016/05/new-pci-dss-rules-big-changes-service-providers/" target="_blank">New PCI DSS Rules Have Big Changes for Service Providers</a>
<br><br>
<a href="https://www.swordshield.com/2016/05/merchants-should-develop-a-clear-path-to-pci-compliance/" target="_blank">Merchants Should Develop a Clear Path to PCI Compliance that Includes Security</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save The Date</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2016/05/hipaa-logo.png" style="display: block; float: right;" width="127" height="108" align="right"><strong>HIPAA Workshop Helps with Writing Policies and Procedures</strong>
<br><br>
In order to comply with HIPAA  guidelines, healthcare organizations and the Covered Entities and Business Associates that support them are required to have a comprehensive set of policies and procedures that cover all the requirements of the HIPAA Security, Privacy, and Breach notification rules.
<br><br>
But, let's face it, writing policies and procedures from scratch can be a difficult and time-consuming process for many companies.
<br><br>
As a result, Sword &amp; Shield is pleased to offer a two-day policy and procedure development workshop from <strong>9 a.m. to 5 p.m. June 1-2</strong> to assist companies with creating a complete set of policies and procedures that map to the HIPAA requirements. The cost is $599.
<br><br>
<a href="https://www.swordshield.com/2016/04/new-hipaa-workshop-helps-writing-policies-procedures/">See More</a>
<br><br>
<strong>Knoxville Cyber Sessions</strong><br><br>
Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will discuss ransomware at the next Knoxville Cyber Sessions on Thursday, June 30 from 11:30 a.m. to 1 p.m. at the Square Room.
<br><br>
<img src="https://www.swordshield.com/newsletters/images/2016/01/bill-dean.jpg" style="display: block; float: right; margin: 0 0 20px 20px;" width="110" height="100" align="right">In "Ransomware - Testing Everyone's Resolve," Dean will discuss how <a href="http://www.zdnet.com/article/ransomware-is-now-the-top-cybersecurity-threat-warns-kaspersky/">the world's biggest cyber security threat</a> affects business.
<br><br>
"For the most part, cybersecurity defenses and controls are handled differently by each organization," he said. "This is primarily due to the fact that there has not been a common threat for all organizations, until now."
<br><br>
Ransomware has evolved from a nuisance to one of cybersecurity's fiercest threats, instilling fear into everyone. This presentation will provide the history, details, and true impact ransomware will have on your organization.
<br><br>
Don't be a victim. Register today to enjoy a good meal while you learn how to protect your organization from cyber threats.
<br><br>
<a href="https://landing.swordshield.com/knoxville-cyber-sessions-ransomware">Register Now</a></div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>