<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top" style="background: #eeeeee;">
            <table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
                <tr>
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2016-10" style="color: #999999;">View it online</a>.</td>
                </tr>
                <tr>
                    <td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
                            <tr>
                                <td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
                                <td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">October 2016</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><img src="https://swordshield.com/newsletters/images/2016/10/theresa-payton-edge2016.jpg" alt="Theresa Payton at EDGE2016" style="display: block;" width="640" height="300" /></td>
                </tr>
                <tr>
                    <td style="background-color: #fff; padding: 20px; width: 600px;">
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">EDGE2016 Puts Knoxville, Tenn. on the Map for CyberSecurity</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">
                            KNOXVILLE, Tenn. Oct. 26, 2016 <a href="https://edgesecurityconference.com/">EDGE2016 Security Conference</a>, the inaugural world-class cybersecurity conference where complex business security problems meet real-world solutions, concluded last week after providing information security professionals and business leadership valuable cybersecurity insights and actionable information from a variety of experts for two days at the Crowne Plaza in Knoxville, Tennessee.
                            <br>
                            <br> Bringing in more than 350 attendees, EDGE2016 featured experts in the fields of healthcare, retail, legal, banking and finance, manufacturing, and government information security to have an open dialogue about the cybersecurity challenges every industry is facing.
                            <br>
                            <br> Information is everything, and in the business world its nearly all accessed through some form of technology, said John McNeely, president of Sword &amp; Shield Enterprise Security, the company hosting EDGE2016. You may not think your business is at risk, but think about how much of your day-to-day operations rely on computers, servers, smartphones, etc., and how much of your information is stored and delivered on those devices. Its easy to see the impact a security breach can have if your technology is negatively impacted or your information becomes compromised. Our goal for this conference was to bring experts from a variety of industries together to meet with business leaders and security professionals to learn how they can focus on managing and mitigating the growing risk of cyberattacks, and I think we not only accomplished that, but also put Knoxville on the map as a growing hub for cybersecurity.
                            <br>
                            <br> Keynote speakers at the conference included Theresa Payton, former White House CIO, cybersecurity authority and expert on identity theft and the Internet of Things (IoT); and Kevin Poulsen, a former hacker once wanted by the FBI turned cybersecurity expert and current editor at Wired magazine.
                            <br>
                            <br> I think its always a great day when business leaders get together and talk about the challenges were all facing, said Payton during an interview after her keynote speech on day one of the conference. One, you realize youre not alone, but two, you can hear from each other how somebody else has solved this. Cybercrime attacks everybody and so weve got to put our competitive guard down and be able to just talk openly about what to do to prevent you being the next victim. A forum like this, where people can come and talk openly and ask questions of the experts, is always great and a positive step forward for cybersecurity.
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/10/edge2016-puts-knoxville-tenn-on-the-map-for-cybersecurity/">Read the story</a>
                            <br>
                            <br> See also:
                            <ul>
                                <li><a href="https://www.swordshield.com/2016/10/edge2016-comes-birth-new-cyber-security-conference/" target="_blank">With EDGE2016 Comes the Birth of a New CyberSecurity Conference</a></li>
                                <li>Knoxville News Sentinel: <a href="http://www.knoxnews.com/story/money/business/2016/10/18/cybercrime-greatest-threat-our-national-security/92356898/" target="_blank">Cybercrime is "greatest threat to our national security"</a></li>
                                <li>WVLT: <a href="http://www.local8now.com/content/news/Knoxville-hosts-EDGE2016-Security-Conference-397462871.html" target="_blank">Knoxville hosts EDGE2016 Security Conference</a></li>
                                <li>Register for <a href="https://edgesecurityconference.com/edge2017" target="_blank">EDGE2017</a>: Oct. 17-18, 2017 at the Knoxville Convention Center</li>
                            </ul>
                        </div>
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Save the Date</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://swordshield.com/newsletters/images/2016/08/chris-lyons.jpg" style="display: block; float: right; margin: 0 0 20px 20px;" width="227" height="200" align="right">Sword &amp; Shield Security Consultant Chris Lyons will present, Addressing Your Advanced Threats," at the Ninth Annual Shriners Healthcare IT Symposium Nov. 4 at 4:15 p.m.
                            <br>
                            <br> The symposium, held at the Mandalay Bay Resort and Casino in Las Vegas, will focus on Cyber Security: Awareness, Safeguards, Regulatory Requirements, Penalties, Risks and Tools and has assembled a number of accomplished speakers from leading healthcare and technology organizations.
                            <br>
                            <br> Please visit the <a href="http://www.shrinershospitalsforchildren.org/Forms/SymposiumRegistration">Shriners Hospital for Childrens website</a> to register.</div>
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Security Lab</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; line-height: 24px; color: #404041; margin-bottom: 10px;"><strong>Multi-Tool Multi-User Proxy</strong>
                            <br /><span style="font-size: 16px;">by Russel Van Tuyl</span></div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><strong>Background</strong>
                            <br><img src="https://www.swordshield.com/newsletters/images/2016/01/russel-vantuyl-headshot.jpg" style="display: block; float: right; margin: 0 0 20px 20px" width="227" height="200" align="right">Many of the popular Command and Control (C2) tools today operate over HTTP (i.e. Metasploit and Empire). One of the reasons why HTTP is an effective protocol for C2 is because it is allowed on nearly every network in existence and is expectedbehavior from every network device. Additionally, using HTTP over TLS adds an additional layer of security for these tools because it makes inspecting the C2 traffic a challenge. Organizations properly configured with a web proxy that performs SSL/TLS inspection are better able to detect C2 traffic, but I dont typically see this capability in organizations I have tested.
                            <br>
                            <br> In order to look as normal as possible, HTTP C2 traffic should operate on ports 80 and 443. Any deviation, like using port 8080, will cause more suspicion then traffic over the standard ports. An interesting problem is that I like to use multiple tools on the same host. If I want to use Empire and Metasploits Web Delivery module all on the same box, I will need a total of three ports. I would likely use ports 80, 8080, and 443. However, I would like for all of my traffic to just go over port 443. We employ multiple security analysts here at Sword &amp; Shield. I like the idea of having one host for all of the analysts to use as a type of C2 proxy. If I had three analysts, all wanting their own Empire and Metasploit listeners, I would need a total of nine ports.
                            <br>
                            <br> This problem can be solved by creating a C2 proxy using Nginx as a reverse web proxy. This will allow for the use of a single web server that can handle multiple tools for multiple users all on one port as shown in the figure below. When setup is complete, proxy rules are used to split traffic off to each analysts C2 server on multiple ports. This configuration also allows the actual C2 servers (the host being proxied) identity to remain a secret. In the event that the C2 proxy server is burned, a new instance can be stood up with a new hosting provider. Nginx can be quickly installed, configured, and operational again in no time.
                            <br>
                            <br>
                            <a href="https://www.swordshield.com/2016/10/multi-tool-multi-user-http-proxy/" target="_blank">See the full article</a></div>
                    </td>
                </tr>
                <tr id="footer">
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2016 Sword &amp; Shield Enterprise Security, All rights reserved.
                        <br>
                        <br>
                        <a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a>
                        <br>
                        <br>
                        <a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
