<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=YYYY-MM" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2017-02.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">Month YYYY</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/feature-image.640x300.gif" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Headline Number One</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit accusamus, pariatur est. Corrupti, ut! Quisquam provident, sint incidunt totam similique nisi neque non et, assumenda obcaecati laborum molestiae. Distinctio?<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quis non nemo a hic quos neque ratione quo reprehenderit atque explicabo laboriosam deleniti dolores harum sapiente voluptatibus, deserunt voluptatum reiciendis!<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ad blanditiis delectus tempora nesciunt assumenda labore eligendi rem cumque! Est ex alias, ratione adipisci porro repellendus doloribus dolor voluptate omnis.<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit:
						<ul style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nesciunt unde dolores esse minima commodi veniam assumenda fugiat hic quis odit saepe nulla, minus nemo ut iure sed consectetur eaque!<br>
							&nbsp;</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas possimus neque nihil cum, minima blanditiis fugiat ratione aliquid aliquam nam nesciunt provident eum quaerat repellendus perferendis quibusdam ex deleniti animi.<br>
							&nbsp;</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est similique aliquid non, cupiditate laudantium eius a quia! Quia voluptas ullam necessitatibus, atque, ab dolores aut distinctio, ut quasi nihil nisi.<br>
							&nbsp;</li>
						</ul>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolorum, nobis accusamus porro magni doloremque fuga necessitatibus repellendus, placeat laborum cupiditate blanditiis velit voluptas nisi repudiandae hic dolores quos rem.</div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Image Right Aligned</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/placeholder.200x300.gif" style="display: block; float: right;" width="200" height="300" align="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam molestias blanditiis tempora ex tenetur quibusdam necessitatibus sapiente non, minus aliquam dolores tempore saepe doloremque expedita eos sint. Nisi, quibusdam modi?<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatem quisquam saepe ea, rem debitis cumque suscipit distinctio id eaque dolorum unde totam, est deserunt harum iure natus voluptatibus eligendi!<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dicta dolor dolore quis. Omnis similique, deleniti, qui sunt impedit perspiciatis totam laborum consequatur non magnam repudiandae necessitatibus hic ut beatae.<br>
						<br>
						<a href="#" target="_blank">See More</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">The Third Headline</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/placeholder.200x140.gif" style="display: block; float: right;" border="0" hspace="12" vspace="12" width="200" height="140" align="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta quae quod velit cum assumenda rerum culpa vel laudantium placeat atque in facere ad, aperiam, sunt rem sed error delectus.<br>
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolorum alias iure nam, assumenda odit corrupti consequuntur soluta ullam, perferendis ducimus accusamus, quam distinctio beatae, a. Ullam eum, possimus nisi.<br>
						<br>
						<a href="#">Click here</a> for more information.</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2016 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>