<table border="0" width="100%" cellspacing="1" cellpadding="1">
	<tbody>
		<tr>
			<td align="center">
				<table class="bgTop" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center">
								<table class="header" border="0" width="700" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td><img class="logo" src="https://www.swordshield.com/images/newsletter-logo.gif" alt="Sword and Shield Enterprise Security Newsletter" width="700" height="190" /></td>
										</tr>
										<tr>
											<td bgcolor="#181818">
												<h3 class="header" style="text-align: center;"><span style="color: #ffffff;">Oct. 2014 ~ Volume 10</span></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bg" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center" valign="top" width="325">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="mainbar" align="left">
												<h2><a name="mssp"></a>October is Cybersecurity Month: Keep Your Data Safe</h2>
												We use the Internet for work. We use the Internet at home. We use <img class="alignright  wp-image-8508" src="https://www.swordshield.com/images/National-Security-Awareness-Month-350x350.png" alt="National Security Awareness Month" width="197" height="197" />the  Internet to gather information or to search for entertainment.
												We are constantly connected and enjoy the freedom and efficiency that the Internet provides; however, being constantly connected brings increased risks of theft, fraud and abuse.
												October 2014 marks the 11th Annual National Cyber Security Awareness Month sponsored by the <a href="http://www.dhs.gov/cyber">Department of Homeland Security</a> in cooperation with the <a href="http://www.dhs.gov/redirect?url=http%3A%2F%2Fstaysafeonline.org%2F" target="_blank">National Cyber Security Alliance</a> and the <a href="http://www.dhs.gov/redirect?url=http%3A%2F%2Fmsisac.cisecurity.org%2F" target="_blank">Multi-State Information Sharing and Analysis Center</a>.
												Even though October is awareness “month”, cybersecurity is a crucial component of our lives and should be observed year round. While this year’s theme is that cybersecurity is a <a href="http://www.dhs.gov/national-cyber-security-awareness-month-2014"><i>shared responsibility</i></a>, I contend that you have the greatest responsibility.
												Computer systems are often designed with security features and technical experts work to make the systems even more secure. However, the choices you make are crucial in the protection of your finances, identity and privacy in this digital world.
												Below are some “Quick Wins” for your protection:
												<ul>
													<li>Patch Your Computers</li>
													<li>Maintain Up-to-Date Anti-Virus/Anti-Malware Software</li>
													<li>Use Passphrases over Passwords</li>
													<li>Password Protect your Computers and Mobile Devices</li>
													<li>Use Portable Media that is Encrypted</li>
													<li>Use Extreme Caution Clicking on Links or Opening Email Attachments</li>
													<li>Be Cautious with Online Postings</li>
													<li>Be Careful using free Wifi Networks</li>
												</ul>
												For more on Cybersecurity Awareness Month, please see:
												<ul>
													<li><strong><a href="http://wp.me/p5aEaM-2vc">Protect Your Data</a></strong></li>
													<li><strong><a href="http://wp.me/p5aEaM-2vW">Detect Cyberattacks Early</a></strong></li>
												</ul>
												<p class="top"><a href="#top">Back to top</a></p>
												<h3></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="sidebar" align="center" valign="top" width="250">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="sidespace" align="left">
												<h2>In this issue</h2>
												<ul>
													<li><a href="#mssp">October is Cybersecurity Month</a></li>
													<li><a href="#kba">Sword &amp; Shield Team Places Second at Derbycon Event</a></li>
													<li><a href="#training">Events</a></li>
												</ul>
												<h2><a name="kba"></a>Sword &amp; Shield Team Places Second at Derbycon Event</h2>
												When your technical team comes in second place in<a href="https://www.swordshield.com/wp-content/uploads/2014/10/derbycon-logo-1_0-version.png"><img class=" wp-image-9680 alignright" src="https://www.swordshield.com/wp-content/uploads/2014/10/derbycon-logo-1_0-version.png" alt="derbycon-logo-1_0-version" width="201" height="62" /></a> a competition designed to challenge penetration testing experts, you know you're hiring some of the best security analysts in the business.
												Sword &amp; Shield team <em>nanerpwn</em> did just that at the 2014 Derbycon2014's Capture The Flag (CTF).
												<a href="https://www.swordshield.com/2014/10/sword-shield-team-places-2nd-derbycon-event/"><strong>Read More</strong></a>
												<h2><a name="training"></a>Join Us at the 2014 NCRA Conference in Palm Springs</h2>
												Join Sword &amp; Shield at the National Consumer Reporting Association's 22nd annual conference in Palm Springs, CA Nov. 12-14 to learn more about our <a href="https://www.swordshield.com/pci-compliance-services/">PCI</a> and <a href="https://www.swordshield.com/experian-ei3pa-compliance/">EI3PA</a> offerings.
												The NCRA is a national trade organization of consumer reporting agencies and associated professionals that provide products and services to hundreds of thousands of credit grantors, employers, landlords and all types of general businesses.
												Sword &amp; Shield and the NCRA have partnered to provide member organizations access to discounted vulnerability assessments, risk and compliance assessments and rapid response plans.
												<strong><a href="http://ncra.wildapricot.org/event-1732135">Register here</a></strong>
												<table class="options" border="0" width="100%" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="https://www.swordshield.com/contact-us/">Connect</a> with us!</h3>
															</td>
														</tr>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="mailto: secureme@swordshield.com" target="_blank">Email</a> us!</h3>
															</td>
														</tr>
														<tr>
															<td align="center" valign="top">
																<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bgBottom" style="width: 704px; height: 50px;" border="0" width="704" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="center" valign="middle">
								<table class="footer" border="0" width="700" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
											1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>