<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="http://clients.graphickarma.com/swordandshield/logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">January 2014 ~ Volume 1</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2>PCI Issues Should be as Important as Protecting Customer Health</h2>
Retailers spend thousands of dollars a year to protect their customers from food safety issues, bad or harmful products and other issues that might void the trust their clientele places in them.<img class=" wp-image-7878 alignright" alt="PCI Info Graphic 4" src="https://www.swordshield.com/images/PCI-Info-Graphic-4-350x208.png" width="245" height="146" />

Yet, many merchants still are not sufficiently protecting their patron’s payment card data – a measure that also promotes trust and customer loyalty and ensures that customers feel safe spending money in their stores.

“Customer goodwill is what is important to them (retailers),” said Sword &amp; Shield Payment Card Security and Compliance Practice Lead Brad Shifflett.

The Payment Card Industry (PCI) Security Standards Council says that compliance with PCI regulations is vital for all merchants who accept credit cards, online or offline, because, “nothing is more important than keeping your customer’s payment card data secure.”

Shifflett said that, in addition to the loss of trust, merchants also risk paying high-dollar fines that could drastically hurt the bottom line and could even put some smaller companies out of business.

Sword &amp; Shield Principal Consultant John Harmon points out that budgeting for a proper PCI assessment is actually less expensive than trying to clean up after a public relations disaster – like the issues the retail giant, Target, is facing after learning of a Point-of-Sale data breach.

“If you’ve been selling bad gasoline that breaks peoples’ cars, no one will want to come to your store,” Harmon said. “They would rather wait in lines around the block at (another gasoline station) than come to you.”

In 2013, Symantec Corporation and Ponemon Institute estimated that organizations in the United States, on average, spent $188 per record when their networks or data are breached. The figure includes fines, loss of customer trust and loss of business.

Sword &amp; Shield analysts recommend a <a href="https://www.swordshield.com/risk-and-compliance/pci-dss/pci-compliance-services/">holistic approach</a> to protecting your customers’ data, which includes a risk assessment to identify threats and vulnerabilities, a Report on Compliance (ROC), quarterly scanning by an approved Authorized Scanning Vendor (ASV) and a gap analysis that reviews a company’s security processes and controls.

“You also need to know how to stop it as soon as possible should you detect a breach,” Shifflett said. “Everyone has the potential to be hacked. It’s important that logging and monitoring be in place so that Visa is not the one who has to notify you in the event of a breach.”

Sword &amp; Shield works with customers to help them understand PCI requirements.

“We help you avoid making the news,” Harmon said.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#">PCI Issues Should Be Treated</a></li>
	<li><a href="#">New Expert Training</a></li>
	<li><a href="#">From the Blog</a></li>
</ul>
<h2>Sword &amp; Shield's New Expert Training is Now Available</h2>
Sword &amp; Shield now offers a variety of training available to the business community to prepare them for the challenges they face staying compliant and secure.

As part of the <a href="https://www.swordshield.com/certified-training">HIPAA and Healthcare Security</a> training series, our <a href="https://www.swordshield.com/certified-training/meet-trainers/">expert trainers</a> will prepare the security leaders of today for the challenges of tomorrow.

The new, state-of-the-art facility is located at our headquarters at <a href="https://maps.google.com/maps?q=1431+centerpoint+blvd.,+suite+150,+knoxville,+tn&amp;hnear=1431+Centerpoint+Blvd+%23150,+Knoxville,+Tennessee+37932&amp;gl=us&amp;t=h&amp;z=16">1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932.</a>

<a href="https://www.swordshield.com/certified-training/registration/">Register</a> today for the course of your choice.

Upcoming classes include:
<ul>
	<li>Jan 23: <strong>Do I Need to Know This to do My Job?</strong> HIPAA allows many disclosures of PHI so you can do your job.</li>
	<li>Jan. 30: <strong>Managing Vulnerabilities: Reducing the Risk of a Data Breach.</strong> A course on how you can reduce your risk of a data breach.
<h3><img class="wp-image-7734 alignnone" alt="DSCN0128" src="https://www.swordshield.com/images/DSCN0128-350x262.jpg" width="284" height="212" /></h3>
</li>
</ul>
&nbsp;
<h2><strong>From the blog</strong></h2>
<strong>Target Targeted:</strong> With the Target Stores data breach of 40 million credit and debit cards in the headlines and on the minds of business leaders it is important to ensure your internal Information Security program is operating effectively.

Businesses should do an internal security check to ensure that their information security controls are in place and operating correctly to protect their customers’ personal and financial data.

<a href="https://www.swordshield.com/2013/12/19/alert-target-stores-potentially-breached-can-affect/">Read More</a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3> <a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" width="578" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
