<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="http://clients.graphickarma.com/swordandshield/logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">April 2014 ~ Volume 4</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="customer"></a>Your Customers' Personal Information Belongs to Them - Not You</h2>
The information your company holds about your clients does not belong to you – it belongs to your customers.

Protecting this information should be a top concern when you consider your company’s risks.

<img class="alignright  wp-image-4712" alt="Graphic for Risk &amp; Compliance page" src="https://www.swordshield.com/images/Graphic-for-Risk-Compliance-page-350x198.jpg" width="245" height="139" />“We test the information security controls a company has in place,” said Bill Dean, Sword &amp; Shield’s director of security assessments and computer forensics.  “The goal of a <a href="https://www.swordshield.com/services/security-testing/">security assessment</a> is not only to penetrate a network, but to provide risk prioritization. We help companies prioritize their risks and assist with the remediation.”

Dean said it is important for companies to know if the controls they have in place are working. That can range from ensuring that their firewall or other applications are properly designed and configured to testing their employee knowledge of company security measures and the effectiveness of the company’s security awareness training.

“You can have every possible control in place, but if one employee falls prey to a phishing email, then those controls can be circumvented,” he said. “The controls didn’t fail, the people did.”

Sword &amp; Shield also provides vital <a href="https://www.swordshield.com/services/security-testing/social-engineering-awareness-training/">security awareness training</a> to employees and provides information on how to reduce the risks associated with human error. This form of security assessment targets people and processes instead of technology.

Security assessments are much more than “checking a box,” Dean said.

Many companies spend a great deal of time and effort to meet compliance measures, but “just because you’re compliant, doesn’t mean you’re secure,” Dean cautioned.

Sword &amp; Shield security engineers place emphasis on matching the degree of security with the business and operational needs.

Dean pointed out that, ultimately, the client determines the areas of risk that could facilitate a breach, but a business owner needs to be aware that the loss of customer information can result in loss of revenue and reputation.

“Ultimately, you are being trusted many times to house someone else’s sensitive information. This demands appropriate security measures,” he said.

For more information about Sword &amp; Shield's security assessments, please call us at 865-244-3500 or email sales@swordshield.com.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#customer">Your Customers' Personal Information Belongs to Them - Not You</a></li>
	<li><a href="#eta">Sword &amp; Shield Enjoys ETA Event in Las Vegas</a></li>
	<li><a href="#blog">From the Blog</a></li>
	<li><a href="#training">Training</a></li>
</ul>
<h2><a name="eta"></a>Sword &amp; Shield Enjoys ETA Event in Las Vegas</h2>
Join Sword &amp; Shield at the <a href="http://www.electran.org/">Electronic Transactions Association's</a> TRANSACT14 Conference in Las Vegas April 8-10.

TRANSACT 14, powered by ETA, is the premier meeting place for providers and customers in the global payments and transactions ecosystem. ETA is an international trade association representing companies who offer electronic transaction processing products and services. The purpose of ETA is to influence, monitor and help shape the merchant acquiring industry by providing leadership through education, advocacy and the exchange of information.

Sword &amp; Shield is at Booth 1256. Come and visit us if you're in the Las Vegas area.
<h2><strong><a name="blog"></a>
From the blog</strong></h2>
[caption id="attachment_6922" align="alignright" width="84"]<img class=" wp-image-6922" alt="Bill Dean" src="https://www.swordshield.com/images/20110624bill-dean2435-2-Resized-99x150.jpg" width="84" height="131" /> Bill Dean[/caption]

<strong>The Challenges of Cloud Forensics:</strong> Sword &amp; Shield Director of Security Assessments and Computer Forensics Bill Dean pens a white paper discussing the numerous challenges "the Cloud" provides for security analysis. In this paper, Dean talks of the changes in implementing incident responses, investigations and responding to legal requests when your information resides in the cloud.

<a href="https://www.swordshield.com/2014/04/08/challenges-cloud-forensics/">Read More</a>
<h2><a name="training"></a>Alien Vault Training at Sword &amp; Shield</h2>
Register for our June 9-13 Alien Vault Certified Systems Engineer training.

Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control. <a href="https://www.swordshield.com/certified-training/registration/" target="_blank"><strong>Sign up</strong></a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
