<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Chip and PIN: Are You Ready?</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-06" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">June 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/06/swipe-and-card.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Chip and PIN is Coming to America: Is Your Company Ready?</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">In just four short months, retail merchants in the United States who accept current payment cards, which are based on magnetic stripe technology, will have to start accepting the new Europay, MasterCard and Visa (EMV), or Chip and PIN cards, or face fraud liability issues. <br /><br />
						While many merchants are already purchasing the new terminals, most are not currently online and accepting the new cards despite the short timeframe to meet the merchant liability shift.<br /><br />
						Here is a short check list to help merchants adapt to the new readers:
						<ol style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
			              <li>Don’t assume the new Chip and PIN terminals will "take care" of your <a href="https://www.swordshield.com/pci-compliance-services/" target="_blank">PCI</a> needs. The requirements are still the same as existing payment cards</li>
			              <li>Check that your system supports Chip and PIN cards</li>
			              <li>Consult your Qualified Security Assessor (QSA) to ensure your system changes remain compliant</li>
			              <li>Check that your <a href="http://usa.visa.com/download/merchants/visa-merchant-chip-acceptance-readiness-guide.pdf" target="_blank">EMV migration dates</a> are in line with the key compliance deadlines</li>
			              <li>Develop a training program for your personnel to ensure they understand the changes in processes around the new EMV payment cards</li>
						</ol>
						Sword &amp; Shield Director of PCI/EI3PA Services John Harmon says the new Chip and PIN technology requirements are&nbsp;supported in the current PCI standards offering merchants a layered approach for secure payment card transactions.<br />
            <br />The EMV chip offers an additional layer of security at the point-of-sale by requiring a PIN to be entered at the time of the transactions, however many systems currently only require a signature. <br />
            <br />"When you're upgrading to EMV systems, employing point-to-point encryption (P2PE) at the same time is an excellent way to increase security and reduce the complexity of the PCI assessment," Harmon said.</div>


						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">White Paper: EMV - Will it Curb Credit Card Fraud and Breaches?</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/wp-content/uploads/2015/06/emv-whitepaper.jpg" style="display: block; float: right;" width="127" height="149" align="right">Sword &amp; Shield Security Analyst Eric Walker walks you through information about the upcoming Oct. 1 deadline for retailers to adopt EMV (Chip and PIN) credit card technology and answers whether this technology will help reduce the number of point-of-sale attacks on brick and mortar retailers. <br /><br />Visit our <a href="https://www.swordshield.com/resources/white-papers/" target="_blank">White Papers</a> section to download the paper.</div>






						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Sword &amp; Shield is the Top Ranked Tennessee Company on the SP500 List</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img style="float: right; display: block" border="0" alt="" src="https://www.swordshield.com/wp-content/uploads/2014/09/crn-500-solution-provider.png" width="150" align="right" height="150" />Sword &amp; Shield is the highest ranked Tennessee company on this year’s <a href="https://www.swordshield.com/awards/" target="_blank">CRN Solutions Provider 500</a> (SP500) list, making this the ninth year in a row the IT security and compliance company has appeared on the prestigious lineup.<br /><br />The annual list recognizes the top revenue-generating technology integrators, managed service providers and IT consultants in North America. Solution providers are ranked based on revenue, determined by product and services sales during
            2014.<br /><br /><a href="https://www.swordshield.com/2015/06/sword-shield-is-the-top-ranked-tennessee-company-on-the-sp500-list/" target="_blank">Read more</a><br /><br /><a href="https://www.swordshield.com/managed-security/" target="_blank"><img alt="" src="https://www.swordshield.com/newsletters/images/2015/06/managed-services-ad.jpg" /></a></div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>