<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-08" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">August 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/08/feature-image.2015-08.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Data
            Exfiltration Should be a Concern for Every Healthcare
            Organization</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Healthcare records are like Manna from Heaven to a cyber-thief. <br>
						<br>
						They contain personally identifiable information like social security numbers, names, addresses and insurance information. <br>
						<br>
						That information can be used to obtain credit cards or loans, commit tax fraud, send fake bills to insurance providers or use patient information to obtain prescription medication. <br>
						</br>
						Cyber-attacks on healthcare organizations are up more than 125 percent and are now the leading cause of data breaches, but, according to a <a href="https://www2.idexpertscorp.com/fifth-annual-ponemon-study-on-privacy-security-incidents-of-healthcare-data" target="_blank">Ponemon Institute Benchmark Study on Privacy and Security of Healthcare Data</a>, only 40 percent of the companies surveyed were concerned about these attacks. <br>
						<br>
						In one of the largest breaches of healthcare information, <a href="http://dcinno.streetwise.co/2015/02/05/anthem-insurance-breach-hackers-selling-social-security-numbers/" target="_blank">Anthem Inc.</a>, a health insurance company, reported that personally identifiable information was obtained using data exfiltration through an external web service such as Google cloud or Dropbox. <br>
						<br>
						Data exfiltration is the unauthorized transfer of sensitive information from a target organization's network to a location which is controlled by the hacker. If a hacker wants to target your organization, he will persist until he succeeds. <br>
						<br>
						So how do you prevent or lessen that threat? <br>
						<br>
						By developing a long-term, security-focused and strategic plan. <br>
						<br>
						A <a href="https://en.wikipedia.org/wiki/Log_management" target="_blank">log monitoring and management solution</a>, staffed with experienced security operations center (SOC) analysts can maximize your investment in security, but that means either hiring more IT security staff or utilizing the services of a Managed Security Services Provider (MSSP).  <br>
						<br>
						Small to mid-sized healthcare providers typically cannot afford to set up their own SOC, so hiring an MSSP is more efficient and cost-effective. Our <a href="https://www.swordshield.com/managed-security/" target="_blank">Managed Security</a> service can help you quickly, easily and cost-effectively deploy all the security controls you need to detect, analyze, log, monitor and react to threats, while our <a href="https://www.swordshield.com/security-assessments/data-breach-threat-analysis/" target="_blank">Data Breach Threat Analysis</a> service can be used to determine if a customer's networks have been compromised and if attackers are actively exfiltrating data. <br>
						<br>
						Sword &amp; Shield can help. Please call us at 865-244-3500 or email us at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a> to learn more about how data exfiltration can cost your business and how we can partner with you to defend your network.
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Now Offering CISSP Training Through (ISC)<sup>2</sup></div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="images/2015/08/isc2.jpg" style="display: block; float: right;" width="299" height="185" align="right">The challenge to protect the information that is both shared and available online continues to grow as the Internet expands. Companies and governments are spending billions of dollars to secure their data and prevent outside attacks. They need employees who are skilled in thwarting these attacks<br>
						<br>
						Obtaining a Certified Information Systems Security Professional (CISSP) certification shows you are an expert in information security and this increases your chances of being hired. It also increases the possibility you will be hired at a higher salary.<br>
						<br>
						Sword &amp; Shield's official five (5)-day (ISC)<sup>2</sup> CISSP Training gets you trained, certified and back to work within a week with the skills necessary to protect your organization from hackers, attackers and security threats. Our program delivers the most up-to-date, authorized content and is back by our certification process. The course includes an exam voucher that can be used at any (ISC)<sup>2</sup> -approved testing facility<br>
						<br>
						<a href="https://www.swordshield.com/cissp-cbk-training/" target="_blank">Register for your class today!</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Webinar: Zero to Fully Managed</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Security threats to networks and data never end and malicious bad actors are actively pursuing your data.<br>
						<br>
						The threats are constantly changing and keeping up with new threats is a large and costly challenge, but tighter budgets and fewer resources are forcing many business owners to re-think their network security plans. <br>
						<br>
						Can a Managed Security Services Provider help you protect your business while keeping your bottom line in check? <br>
						<br>
						Join Sword &amp; Shield Director of Managed Security Services Brent Cantrell on Tuesday, Sept. 29 from 11 a.m. to noon as he discusses how to become, "Zero to Fully Managed." <br>
						<br>
						<a href="https://www.eventbrite.com/e/zero-to-fully-managed-a-security-service-program-webinar-tickets-18247468670" target="_blank">Register here &rarr;</a>
						</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Alien Vault Certified Systems Engineer Training</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/wp-content/uploads/2014/08/alienvault.300x300.png" style="display: block; float: right;" width="200" height="200" align="right">Register for our Sept. 21-25 Alien Vault Certified Systems Engineer training held at our Knoxville office or online. <br>
						<br>
						Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, Alien Vault customers will experience greater return on investment, better security and more efficient operational control. <br>
						<br>
						<a href="https://www.alienvault.com/support/classroom-training" target="_blank">Register here &rarr;</a>
						</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>