<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="https://www.swordshield.com/images/newsletter-logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">May 2014 ~ Volume 5</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="forensics"></a>Digital Forensics isn't CSI, but it is Important in Many Court Cases</h2>
Digital forensics is NOT what you see on CSI.

You can't power up a computer with potential evidence and just<img class="alignright size-full wp-image-8170" alt="ITForensics-150x150 (1)" src="https://www.swordshield.com/images/ITForensics-150x150-1.jpg" width="150" height="150" /> go exploring - that could potentially prevent the evidence's admissibility in court (attorneys should remind their clients of this).

You also can't expect results in under an hour and finally, Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean says most digital forensics experts are not nearly as attractive as the people on television.

"<a href="https://www.swordshield.com/services/forensics-ediscovery/">Digital forensics</a> is the ability to obtain a great deal of information related to activities performed on computers," Dean said. "Digital forensics can often provide information that may otherwise be unavailable. This can include deleted information, Internet activities, social network usage, portable device usage, the ever-popular deleted text messages and detailed timeline activity of actions taken on a computer."

While most companies would rather not consider the possibility they could end up in court, the value of digital forensics can uncover intellectual property/trade secret theft, harassment, insider threats and computer intrusions, in addition to data important in other legal cases, such as divorce cases.

For example, after the former employee of a manufacturing company began working for a competitor, the manufacturing company’s current employees noticed that their unreleased product designs were being marketed and sold by their competitor, leading them to believe they had been a victim of intellectual property theft.

The company contacted Sword &amp; Shield to perform a forensic investigation on the laptop of the former employee. After a full forensic analysis of the hard drive, Sword &amp; Shield analysts were able to identify the previous existence of a PowerPoint presentation that contained the product designs of interest and the associated marketing plans.

<img class="size-thumbnail wp-image-8176 alignleft" alt="intellectual-property-theft" src="https://www.swordshield.com/images/intellectual-property-theft-150x107.jpg" width="150" height="107" />Sword &amp; Shield concluded that the PowerPoint presentation in question was located on a USB drive that was not owned by our client. Sword &amp; Shield analysts provided the serial number and the model number of the USB drive as the proof our client needed to subpoena the USB drive for analysis.

Upon analysis of the USB drive, Sword &amp; Shield concluded that the former employee did, in fact, have the confidential information in his/her possession and had attempted to delete the file prior to providing the USB drive for examination.

Dean said Sword &amp; Shield analyzes a wide variety of devices to solve the issues of our clients, including computers, laptops, mobile devices, tablets, portable media, servers, network equipment and CCTV systems.

For more information about Sword &amp; Shield's forensics investigations, please call us at <a href="&quot;tel">865-244-3500</a> or email <a href="mailto: sales@swordshield.com">sales@swordshield.com</a>.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#forensics">Digital Forensics isn't CSI</a></li>
	<li><a href="#nra">Sword &amp; Shield Exhibits at Restaurant Show</a></li>
	<li><a href="#blog">From the Blog</a></li>
	<li><a href="#training">Training</a></li>
</ul>
<h2><a name="nra"></a>Sword &amp; Shield to Exhibit at Restaurant Show in Chicago</h2>
Join Sword &amp; Shield at the <a href="http://show.restaurant.org/Home" target="_blank"><span style="color: #0000ff;">National Restaurant Association Show</span></a> in Chicago May 17 - 20.

For nearly a century, the NRA Show has brought the industry together for four days to exchange ideas, view the food service industry's newest brands and trends and network. More than 2,000 exhibitors and 62,000 food service professionals will attend the event.

Sword &amp; Shield is at Booth 9773. Come visit us if you're in the Chicago area.
<h2><strong><a name="blog"></a>
From the Blog</strong></h2>
<strong>Heartbleed Roundtable Discussion with our <img class="alignright size-thumbnail wp-image-8182" alt="Heartbleed Remediation" src="https://www.swordshield.com/images/heartbleed-127x150.jpg" width="127" height="150" />Experts:</strong> Sword &amp; Shield Director of Security Assessments and Computer Forensics Bill Dean: "Heartbleed is the most severe security vulnerability ever. First, this exploit required no action to be taken by a user nor did it involve remote code execution. Simply as a vulberable Open SSL deployment for the data and it willingly coughed it up each time."

Senior Security Analyst Matt Smith: "Heartbleed is really no bigger an issue than other well known, remotely exploitable vulnerabilities of the past. All were typically known to, and exploited by, only a few for a while, but were eventually disclosed to the world (usually in the form of worms.

<a href="https://www.swordshield.com/2014/04/25/heartbleed-roundtable-discussion-experts/">Read More</a>
<h2><a name="training"></a>Alien Vault Training at Sword &amp; Shield</h2>
Register for our June 9-13 Alien Vault Certified Systems Engineer training.

Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control.

<a href="https://www.swordshield.com/certified-training/registration/" target="_blank"><strong>Sign up</strong></a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
