<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Best practice steps for implementing your secure future</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-01" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">January 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/01/feature.secure-future.640x300.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Beginning Your Secure Future</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">While it's often said that improving your organization's network security is more of a journey than a destination, it still helps to know how you should start on a path to a Secure Future.<br>
						<br>
						Many business owners look at IT security through the prism of compliance, often believing that if they follow the check-lists provided by their governing compliance guidelines, they will also be secure.<br>
						<br>
						Others believe that they are too small for hackers to care about and don't place security as high on their list as other risks, not realizing one data breach could cost them thousands in fines, a loss of reputation or even a loss of their business.<br>
						<br>
						Whether your business is compliance driven or security driven, building effective protection strategies takes a balanced risk management approach. Being compliant does not mean you are secure. And being secure does not mean you are invulnerable.<br>
						<br>
						Here are some steps to help you get started:
						<ul style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
							<li>Schedule a <a href="https://www.swordshield.com/2015/01/securing-your-future-with-strategic-security-assessments/">Strategic Security Assessment</a>: This assessment will tell you everything about your environment and what your company is doing - or not doing - to safeguard your&nbsp;systems and comply with the regulations your industry requires.<br>
							&nbsp;</li>
							<li>Create and enforce good policies: a security policy is often considered to be a "living document", in that it is never finished, but is continuously updated as technology and employee requirements change.<br>
							&nbsp;</li>
							<li>Train your staff: Give your staff the tools they need to enforce your policies, but realize that to error is human. Make sure you have plans to secure your systems even when your security training fails.<br>
							&nbsp;</li>
							<li>Employ methods to help you <a href="https://www.swordshield.com/2014/10/cybersecurity-month-detect-cyberattacks-early/">detect breaches early</a> and respond quickly: Early detection measures assist in neutralizing cyberattacks and threats before damage is done.&nbsp; Detecting cyberattacks or fraudulent activity within the first 24 hours makes a significant difference to your business.<br>
							&nbsp;</li>
							<li>Develop a relationship with your IT security and/or <a href="https://www.swordshield.com/pci-compliance-services/">compliance</a> provider: Employ a team that will work with you and be an ongoing resource for your security questions throughout the year.</li>
						</ul>
						This year, <a href="https://www.swordshield.com/2014/12/it-security-experts-expect-more-massive-breaches-in-2015/">security experts</a> are predicting more massive security breaches. Businesses need to know where their business critical information is at all times and 2015 should be the year that cyber security stops being the responsibility of some and becomes the expectation of everyone.</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Bill Dean Makes the "Top 40 Under 40" List</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/01/bill-dean.200x305.jpg" style="display: block; float: right;" width="200" height="305" align="right">Bill Dean spends his days making sure the business secrets, intellectual property and sensitive client information stored on the computers of companies don't fall into the wrong hands.<br>
						<br>
						"The motto of our company is to prevent, detect and respond," he says.<br>
						<br>
						As director of forensics and security assessments for Sword &amp; Shield Enterprise Security, Dean works with companies to make sure their systems are secure.<br>
						<br>
						"Everything we have is stored in computers," he says. "The information is very portable."<br>
						<br>
						Because computers also record information about everything that happens to them, Dean is also able to analyze them to let companies know whether any data has been deleted or accessed without permission. "What our forensics tools do is recover deleted information," he says.<br>
						<br>
						He also implements preventive measures to ensure clients' most valuable assets remain protected, regularly monitors clients' computer systems to make sure data hasn't been breached and helps businesses respond to threats.<br>
						<br>
						"We want to give them peace of mind that we're doing the best we can to protect the information they rely on on a day-to-day basis to make crucial business decisions," he says.<br>
						<br>
						<a href="http://www.knoxnews.com/news/bill-dean-39director-of-forensics-and-security-assessments-sword-shield-enterprise-security_05358276" target="_blank">See More</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Dean to Speak at Knoxville Cyber Summit</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/01/knoxville-cyber-summit.500x350.jpg" style="display: block; float: right;" border="0" hspace="12" vspace="12" width="200" height="140" align="right">Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean is a featured speaker at the Knoxville Cyber Summit Feb. 5 at the Holiday Inn - World's Fair Park.<br>
						<br>
						Dean will discuss: "The Real Purpose of Your Information Security Program." The event, hosted by Claris Networks, will take place from 8:15 a.m. to noon. Six area cyber security and compliance specialists will speak and the event will end with a panel discussion.<br>
						<br>
						<a href="http://clarisnetworks.com/BLOG/knoxville-cyber-summit-february-5-2015/">Click here</a> for more information and to register.</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="mailto:ltb@swordshield.com?subject=UNSUBSCRIBE&amp;body=Please+unsubscribe+me+from+the+Intelligent+Security+newsletter." style="color: #fff !important;">Unsubscribe from this list</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>