<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Merchant Liability Shift</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-09" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">September 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/09/feature-image.2015-09.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Get
            Ready for the Merchant Liability Shift</div>
            			<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">The time for the adoption of the new Europay, MasterCard and Visa (EMV) cards is nearly upon us and it appears as though many smaller merchants won't be ready for the Oct. 1 deadline.
						<br><br>
						Some merchants' associations say that many merchants simply do not know about the <a href="https://support.worldpay.com/support/kb/bg/authentication/auth1010.html" target="_blank">merchant liability shift</a> or don't know enough about the shift to make the switch to the new chip and PIN card readers. Cost and a reluctance to change are critical factors, as well.
 						<br><br>
						"Because merchant service providers will not face financial liability with the upcoming shift, many have not prioritized ensuring their customers know about or have made the change," <a href="http://www.paymentssource.com/news/paythink/merchant-service-providers-are-dropping-the-ball-on-emv-3022325-1.html" target="_blank">writes Suneera Madhani</a>, CEO and founder of the subscription-based merchant services group, Fattmerchant. "Or, if they are educating their customers on the liability shift, many MSPs are using it as a money-making gimmick by charging high markups on new equipment."
 						<br><br>
						John Harmon, Sword &amp; Shield's director of PCI and EI3PA Services, said many smaller retailers don't have the <a href="http://www.cbsnews.com/news/why-new-chip-and-pin-cards-wont-protect-you-yet/" target="_blank">technology</a> to run the EMV cards. Because the chip cards still have the magnetic strip, the merchant will continue to run the transactions as though they are a swipe-only card.
						<br><br>
						Currently, when a customer uses a strip card, the card issuer, a bank or credit card company, is liable for any fraudulent purchase. However, after Oct. 1, if a customer has a chip card and the merchant doesn't have the proper card reader, the merchant must pick up the tab if fraud is involved. The banks and credit card companies will only cover the bill for chip cards used in EMV chip card readers.
 						<br><br>
						Harmon warned that merchants that have not prepared for the transition to EMV need to determine if their business can survive the potential losses associated with fraudulent transactions. Some customers also may express concern for the security of their credit card if their favorite merchant does not use the new equipment.
 						<br><br>
						Sword &amp; Shield consultants are experts in mitigating risk and providing <a href="https://www.swordshield.com/incident-response/" target="_blank">incident response</a> services in the event of a compromise.
 						<br><br>
						Call us at 865-244-3500 or email us at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a> to see how we can help.</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Sword & Shield PCI Expert to Speak at the PCI Council's Community Meeting</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/09/pci_logo.jpg" style="display: block; float: right;" width="300" height="225" align="right">Director of PCI and EI3PA John Harmon will present a Special Interest Group update to the PCI Security Standards Council's North America  Community Meeting on Thursday, Oct. 1 at 10:15 a.m.
						<br><br>
						Harmon and the PCI Council's Standards Manager <a href="http://events.pcisecuritystandards.org/2015/vancouver/speakers/" target="_blank">Jake Marcinko</a> will update members on Daily Logging and Monitoring, <a href="https://www.swordshield.com/2014/11/sword-shield-pci-sig-topic-chosen-for-2015/" target="_blank">one of only two topics chosen</a> to be featured by the council throughout 2015. Harmon presented the topic to the PCI Council last year and has worked to develop processes that help businesses reduce the time a breach goes undetected, provided guidance to organizations in meeting the daily log monitoring requirement and helped to provide businesses of all sizes with the tools they need to review their daily logs.
						<br><br>
						<a href="https://www.swordshield.com/2015/09/pci-expert-to-speak-at-the-pci-councils-community-meeting/" target="_blank">See More</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Webinar: Zero to Fully Managed</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/09/multiple-stations-smaller.jpg" style="display: block; float: right;" width="200" height="132" align="right">Security threats to networks and data never end. The threat landscape is constantly changing and keeping up with new threats is a large and costly challenge.
						<br><br>
						Tighter budgets and fewer resources are also forcing many business owners to re-think their network security plans.
						<br><br>
						A Managed Security Service Provider can help your organization overcome these challenges.
						<br><br>
						Join Sword &amp; Shield Director of Managed Security Services Brent Cantrell on Tuesday, Sept. 29 from 11 a.m. to noon as he discusses how to go from, "Zero to Fully Managed."
						<br><br>
						<a href="https://www.swordshield.com/2015/09/from-zero-to-fully-managed/" target="_blank">Register here</a></div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>