<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Internet of Things: Don't Sacrifice your Security.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-04" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">April 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/04/internet-of-things.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Internet of Things: Don't Sacrifice your Security on the Altar of Convenience</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">It's very convenient to link smartphones, cars, household appliances, medical monitoring equipment and other "smart" items to the Internet, but the potential for data breaches will only get worse as we adopt the Internet of Things (IoT).
							<br /><br />
							According to a recent <a href="http://www.goldmansachs.com/our-thinking/outlook/internet-of-things/iot-report.pdf" target="_blank"><font color="#0000ff">Goldman Sachs forecast</font></a>, there will be 28 billion devices connected to the Internet by 2020, but this eagerness to connect a myriad of devices to the network will create a limitless set of new threat vectors.
							<br /><br />
							A study last year by <a href="http://www8.hp.com/h20195/V2/GetPDF.aspx/4AA5-4759ENW.pdf" target="_blank"><font color="#0000ff">HP Security Research</font></a> concluded that 70 percent of the most commonly used IoT devices had serious security flaws with 90 percent of the devices using unencrypted network service and 70 percent vulnerable through weak passwords.
							<br /><br />
							As a result, business owners must consider the security risks to their networks and their clients' personal information before opening these new markets. Enterprises already have enough trouble securing their traditional network systems: they struggle with knowing where their sensitive data is located and have no clear picture of their security posture. Securing IoT is even more of a challenge.
							<br /><br />
							If you currently have policies around passwords, patching and system monitoring, you may need to make sure the IoT falls in the scope of these policies, but you may need new or updated policies regarding network segmentation and access controls.
							<br /><br />
							You also need to enforce the policies you do have or will develop and you need to monitor your IoT devices. You may even need additional staff or a <a href="https://www.swordshield.com/managed-security/"><span style="color: #00f">managed security service provider</span></a> to accommodate these systems.
							<br /><br />
							Following these guidelines won't solve all your security issues, but it's a start. There is no reason to sacrifice security and privacy on the altar of convenience.
							<br /><br />
							For more information about how Sword &amp; Shield can help you secure your future, please fill out a <a href="https://www.swordshield.com/contact-us/" target="_blank"><span style="color: #0000ff">consultation request</span></a> or email us at <a href="mailto:secureme@swordshield.com" target="_blank"><font color="#0000ff">secureme@swordshield.com</font></a>.</div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Sword &amp; Shield Wins $20B NIH Contract</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/04/nitaac-logo.png" style="display: block; float: right;" width="248" height="58" align="right">The <a href="http://nitaac.nih.gov/nitaac/contracts/cio-cs" target="_blank"><font color="#0000ff">Chief Information Officer-Commodity and Solutions (CIO-CS)</font></a> will provide information technology products and services aligned to health and biomedical research, scientific, administrative, operational, managerial and information management requirements to any federal agency.<br>
							<br>
							"We are very excited to be able to assist the National Institutes of Health with its mission and goals," said Sword &amp; Shield President and CEO John McNeely. "With the addition of CIO-CS to our portfolio of federal contracts, Sword &amp; Shield continues to be a major provider of IT products and services to the government."<br>
							<br>
							<a href="https://www.swordshield.com/2015/04/sword-shield-wins-20b-nih-contract/" target="_blank">See More</a></div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Sword &amp; Shield Wins 10-Year SEWP Contract</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/04/sewp.png" style="display: block; float: right;" width="200" height="165" align="right">Sword &amp; Shield Enterprise Security, Inc. is one of a select number of companies that have been awarded the latest edition of NASA Solutions for Enterprise-Wide Procurement (SEWP) contract known as SEWP V.
								<br><br>
								SEWP V is a fixed-price, indefinite-delivery, indefinite-quantity contract that federal agencies can use to procure IT equipment and technology.
								<br><br>
								The contracts have a $20 billion ceiling and a potential 10-year ordering period. As a prime contractor for both previous versions of the NASA procurement contracts, SEWP III and SEWP IV, Sword &amp; Shield has been a part of the NASA SEWP Program for the last 12 years.
								<br><br>
								<a href="https://www.swordshield.com/2015/04/sword-shield-is-awarded-a-sewp-v-contract/"><span style="color: #00f">See More</span></a>
							</div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Two Cyber Security Summits on Tap in May</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/04/tri-cities-cyber-summit.jpg" style="display: block; float: right;" border="0" hspace="12" vspace="12" width="200" height="140" align="right">From identity theft and fraud to corporate hacking attacks, cyber security has never been more important for businesses and organizations.<br>
								<br>
								Join us on Wednesday, May 6 at the <a href="https://www.google.com/maps/place/1901+Meadowview+Pkwy,+Kingsport,+TN+37660/data=!4m2!3m1!1s0x885af32a029c07ad:0x821ec900f27629b9?sa=X&ei=egYDVZqyAcaZNpa6guAK&ved=0CB4Q8gEwAA">Meadowview Conference Resort and Convention Center in Kingsport</a> or on Thursday, May 7 at the <a href="https://www.google.com/maps/place/1201+Broad+St,+Chattanooga,+TN+37402/data=!4m2!3m1!1s0x88605e7e8d92c1e9:0x6c3a0c0a487b3724?sa=X&ei=fwcDVZTvKoXVggSKqoLgCA&ved=0CB0Q8gEwAA">Chattanoogan Hotel in Chattanooga</a>  from 8:15 a.m. to noon for an informative seminar featuring industry experts in cyber security who will address how to protect your company from possible attacks and what steps you should follow if you become a victim.<br>
								<br>
								Attendees may also receive 2.5 hours of CE credit for attending this event.<br>
								<br>
								For more information or to register, please <a href="http://blog.clarisnetworks.com/blog/tri-cities-cyber-summit-may-6-2015">click here</a>.</div>
							</td>
						</tr>
						<tr id="footer">
							<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
								<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
								<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>