<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Always Factor in IT Security</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-05" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
						<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">May 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/05/may-newsletter-feature-image.jpg" alt="Always Factor in IT Security" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Managed Security Services Lets You Factor IT Security Into all Your Business Decisions</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">In days of yore, empires were protected by high, stone walls that worked to keep intruders at bay.<br>
							<br>
							But once cannons were made that could blast steel into those walls, crushing the stone to smithereens, the fortress no longer worked as a sole protection method.<br>
							<br>
							So can one IT security product or service protect the entirety of your business empire?<br>
							<br>
							Most likely not.<br>
							<br>
							Both your internal and external environments do not remain static: changes made by either your business needs or by the increase and sophistication of external threats mean that you need to respond quickly to these changes or risk a security breach.<br>
							<br>
							For some organizations, hiring a dedicated IT security team to respond to these changes is practical, but for most small to mid-sized businesses, the expense of hiring these professionals would be budget-busting, if not financially impossible.<br>
							<br>
							SMBs also struggle with the ability to prioritize security needs for resource allocation because of their limited budgets and expertise.<br>
							<br>
							If you could just access an entire team of security professionals for less than the cost of one...<br>
							<br>
							Now you can.<br>
							<br>
							A <a href="https://www.swordshield.com/managed-security/" target="_blank">Managed Security Solutions Provider</a> (MSSP) will help you quickly, easily and cost effectively deploy all the security controls you need to detect, analyze, log, monitor and react to threats, ensuring that your most important IT assets are always protected.<br>
							<br>
							"The biggest advantage of our MSSP is that we are an extension of the IT department of our clients," said Sword &amp; Shield Director of Managed Services Brent Cantrell. "We are actively monitoring the Internet connections and reviewing system and firewall logs. We detect and respond to malicious activity on an ongoing basis 24x7 helping to protect the assets, network and data of our clients.&nbsp;Being able to provide instant feedback and review, test and patch vulnerable systems keeps the bad hatters at bay."<br>
							<br>
							Sword &amp; Shield's team will help you ensure that security and compliance continue to be factored into business and technology decisions, while controlling your budget. The predictable monthly fee allows you to manage cost as an operating expense and eliminates the need for an additional head-count or stretching your current IT staff&shy; too thin.<br>
							<br>
							"The number one requirement and most often overlooked is the constant real-time monitoring and review of logs by trained security analysts," Cantrell said. "It is costly for any company to bring these specialized IT resources; they require constant training and certifications to ensure they are kept with the latest threats in the industry. Our MSSP provides 24 x 7 covers for a fraction of the cost of a single security analyst."<br>
							<br>
							Contact us at <a href="tel:1-865-244-3500">865-244-3500</a> or <a href="mailto:secureme@swordshield.com" target="_blank"><font color="#0563c1">secureme@swordshield.com</font></a> to discuss how we can help secure your future.</div>
							<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Security Lab: Dumping a Domain's Worth of Passwords with Mimitkatz Part 3</div>
							<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/05/pwntown.png" style="display: block; float: right;" width="248" height="100" align="right" vspace="12" hspace="12">Before you go any farther into this post, please note this entire attack depends on already having obtained a shared local admin or domain admin credentials. If you only have a shared local admin password, this can land you domain admin credentials. In my case, I already had domain admin credentials, this attack landed me forest admin creds.<br>
								<br>
								This method rides on the coat tails of the work done by <a href="https://twitter.com/JosephBialek" target="_blank">@JosephBialek</a>, <a href="https://twitter.com/mubix" target="_blank">@mubix</a>, <a href="https://twitter.com/harmj0y" target="_blank">@harmj0y</a>, and <a href="https://twitter.com/gentilkiwi" target="_blank">@gentilkiwi</a>. I was having trouble getting <a href="https://github.com/Veil-Framework/PowerTools" target="_blank">Veil PowerTool's Invoke-MassMimikatz</a> PowerShell script working, likely to keyboard actuator problems. I also didn't want to go changing my registry settings or install a new program to do a mass Mimikatz attack. This post details the path that I chose to use for collecting creds from a network using Mimikatz.<br>
								<br>
								<a href="https://www.swordshield.com/2015/05/dumping-a-domain-worth-of-passwords-with-mimikatz-part-3/" target="_blank">See More</a></div>
								<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Alien Vault Certified Systems Engineer Training</div>
								<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/05/alienvault.300x300.png" style="display: block; float: right;" border="0" hspace="12" vspace="12" width="200" height="200" align="right">Register for our June 15-19 Alien Vault Certified Systems Engineer training held at our Knoxville office or online.<br>
									<br>
									Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, Alien Vault customers will experience greater return on investment, better security and more efficient operational control.<br>
									<br>
									<a href="https://www.alienvault.com/support/classroom-training" target="_blank">Register here</a></div>
								</td>
							</tr>
							<tr id="footer">
								<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
									<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
									<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>