<table border="0" width="100%" cellspacing="1" cellpadding="1">
	<tbody>
		<tr>
			<td align="center">
				<table class="bgTop" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center">
								<table class="header" border="0" width="700" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td><img class="logo" src="https://www.swordshield.com/images/newsletter-logo.gif" alt="Sword and Shield Enterprise Security Newsletter" width="700" height="190" /></td>
										</tr>
										<tr>
											<td bgcolor="#181818">
												<h3 class="header" style="text-align: center;"><span style="color: #ffffff;">Dec. 2014 ~ Volume 12</span></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bg" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center" valign="top" width="325">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="mainbar" align="left">
												<h2><a name="mssp"></a>NSGA and Sword &amp; Shield Alliance Provides Cybersecurity Services</h2>
												The National Sporting Goods Association and Sword &amp; Shield <img class="alignright wp-image-9839" src="https://www.swordshield.com/wp-content/uploads/2014/11/logo.nsga_w_whtbkgrd.477x129.png" alt="logo.nsga_w_whtbkgrd.477x129" width="217" height="59" />Enterprise Security, Inc. today announced a collaboration to provide cost-effective and tailored cybersecurity solutions for NSGA members.
												Through the new arrangement, NSGA members can manage their information security using member-only discounted rates for highly-sought after cybersecurity solutions with Sword &amp; Shield.
												“NSGA recognizes companies need help protecting themselves from data security risks,” said NSGA President and CEO Matt Carlson. “We saw an opportunity to reduce costs associated with information security and to find a comprehensive solution for our members with a proven industry leader.”
												“We are pleased to work with NSGA to offer cybersecurity solutions for their members,” said Sword &amp; Shield President and CEO John McNeely. “Our new alliance will allow us to provide education to NSGA members on the risks and needs of cybersecurity and help to provide the most relevant, cost-effective and personalized support for their everyday data security needs.”
												The first step any small- to mid-sized businesses can take to start protecting their data is a risk assessment. A risk assessment will help your company determine what is at stake. Sword &amp; Shield uses its in-depth reports, which feature detailed remediation steps, to clearly identify and describe critical vulnerabilities, and to provide a customized roadmap that leads an organization to a secure state.
												By providing access to Sword &amp; Shield’s experts, NSGA presents a more accessible solution to its members so they can continue to build their brand without sacrificing a loss in profit or reputation. Those interested in learning more about the NSGA alliance with Sword &amp; Shield can click on <a href="https://www.swordshield.com/alliances/nsga/">https://www.swordshield.com/alliances/nsga/</a>.
												<a href="#top">Back to top</a>
												<h3></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="sidebar" align="center" valign="top" width="250">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="sidespace" align="left">
												<h2>In this issue</h2>
												<ul>
													<li><a href="#mssp">NSGA and Sword &amp; Shield Alliance Provides Cybersecurity Services</a></li>
													<li><a href="#kba">From the Blog</a></li>
													<li><a href="#training">Training</a></li>
												</ul>
												<h2><a name="kba"></a>From the Blog</h2>
												While data security experts spent most of 2014 discussing the fallout from the <a href="http://www.cutimes.com/2014/10/03/rise-in-retail-breaches-transforms-response">massive credit and debit card retailer breaches</a>, these same experts continue to report that credit/debit cards and healthcare records will be the most vulnerable in 2015.
												“Breaches aren't going away,” said Sword &amp; Shield Director of PCI/EI3PA Services John Harmon. “These are highly-skilled professionals who are good at what they do.”
												<a href="https://www.swordshield.com/2014/12/it-security-experts-expect-more-massive-breaches-in-2015/"><strong>Read More</strong></a>
												<h2><a name="training"></a>Upcoming Alien Vault Training with Sword &amp; Shield</h2>
												Register for our Jan. 19-23&nbsp;Alien Vault Certified Systems Engineer training held at our Knoxville office or online.
												Operators with their ACSE certificate are highly <img class="size-full wp-image-8236 alignleft" src="https://www.swordshield.com/images/alienvault.png" alt="alienvault" width="116" height="73" />valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, Alien Vault customers will experience greater return on investment, better security and more efficient operational control.
												<a href="https://www.alienvault.com/support/classroom-training">Register here.</a>
												<table class="options" border="0" width="100%" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="https://www.swordshield.com/contact-us/">Connect</a> with us!</h3>
															</td>
														</tr>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="mailto:secureme@swordshield.com" target="_blank">Email</a> us!</h3>
															</td>
														</tr>
														<tr>
															<td align="center" valign="top">
																<h3><a href="tel:+865-244-3500">Call us!</a></h3>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bgBottom" style="width: 704px; height: 50px;" border="0" width="704" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="center" valign="middle">
								<table class="footer" border="0" width="700" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
											1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>