<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=YYYY-MM" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">July 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/07/feature-image.2015-07.jpg" alt="Security's New Architecture" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Security Has a New Architecture and It's More Than Protecting Your Perimeter</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">


In the 1990s, protecting the perimeter and limiting employee access pretty much summed up how most businesses secured their network.<br>
<br>
But, today, the introduction of mobile devices, Bring-Your-Own-Devices (BYOD) and cloud services means that only protecting the perimeter will not keep your intellectual property and key assets secure.<br>
<br>
Are you and your security team rethinking your reliance on traditional firewalls and anti-virus measures? If not, you should be.<br>
<br>
<a href="https://www.swordshield.com/2015/07/your-mobile-security-is-just-as-important-as-your-pc/">Securing your mobile devices</a> should be at or near the top of your security needs. Employees expect access to company resources in order to <a href="https://www.swordshield.com/2015/07/dont-let-your-laptop-give-up-your-patients-phi-security-is-more-than-encryption/">perform their jobs better</a> &ndash; their personal or company-issued mobile devices must be secure in order to protect your corporate data.<br>
<br>
A mobile device is a computer and should be secure and compliant like a desktop computer.<br>
<br>
The future of cybersecurity is virtualized. Businesses are <a href="https://www.swordshield.com/2014/04/challenges-cloud-forensics/">moving threat detection and management to the cloud</a> to achieve greater automation and to tailor their security to their specific business model.<br>
<br>
Finally, as cyber threats continue to grow, more companies find that participating with a security partner helps them stay on top of emerging threats and changing compliance goals.<br>
<br>
A <a href="https://www.swordshield.com/managed-security/" target="_blank">Managed Security Services Provider</a> (MSSP) is designed to address both security and compliance issues, including storage of log data, monitoring systems for security events and periodic scanning of systems for security vulnerabilities.<br>
<br>
Security has a new architecture, and it involves so much more than <a href="https://www.swordshield.com/2013/05/advanced_threats/">putting up high walls and digging wider moats</a>.<br>
<br>
Contact us at <a href="tel:1-865-244-3500">(865) 244-3500</a> or <a href="mailto:secureme@swordshield.com">secureme@swordshield.com</a> to discuss how we can help secure your future.</div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Getting Hashes from NTDS.dit Files</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Having completed many internal penetration tests for clients, I always want to collect the NTDS.dit file from a domain controller, if I get access. The primary reason I want to pull this file from a Windows Domain Controller is because I want a password for another account (to access the data I really want). Generally I want to access a MSSQL Database or some application where the Domain Admins do not have access, but other domain users have access.

Some people might ask why I would not just change the password for the account that I was after &mdash; since I was the Domain Administrator. Changing passwords on accounts could alert users or administrators that something is happening.<br>
<br>
This post is written with expectation that the person reading it has some technical knowledge of Windows systems, and processes involved with using and installing software.<br>
<br>
<a href="https://www.swordshield.com/2015/07/getting-hashes-from-ntds-dit-file/" target="_blank">See More</a>
						</div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Alien Vault Certified Systems Engineer Training</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/wp-content/uploads/2014/08/alienvault.300x300.png" style="display: block; float: right;" width="200" height="200" align="right">Register for our Aug. 17-21 Alien Vault Certified Systems Engineer training held at our Knoxville office or online.<br>
						<br>
						Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, Alien Vault customers will experience greater return on investment, better security and more efficient operational control.<br>
						<br>
						<a href="https://www.alienvault.com/support/classroom-training" target="_blank">Register Here</a>
						</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>