<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="https://www.swordshield.com/images/newsletter-logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">Sept. 2014 ~ Volume 9</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="mssp"></a>Our Franchise Program Helps You Stay PCI Compliant</h2>
Corporate franchises must protect their brand and reputation from<img class="alignright size-thumbnail wp-image-8422" alt="franchise logo" src="https://www.swordshield.com/images/franchise-logo-150x150.jpg" width="150" height="150" /> the risk of data breaches, but don't know how to offer tailored services to both their corporate and franchise locations when transaction sizes are so varied.

Sword &amp; Shield has developed a franchise program to assist companies that have both corporate and franchise owners achieve their Payment Card Industry (PCI) assessments at all levels and at costs each can afford.

"Our franchise program is something we offer to our franchisor customers as a value added benefit to their franchisee community to reduce the PCI compliance costs," Sword &amp; Shield Director of PCI/EI3PA Services John Harmon said. "This applies to franchisor organizations that act as a PCI service provider to their franchise community by providing point of sale equipment or other services to the franchisee operators."

The program features:
<ul>
	<li>PCI DSS assessment</li>
	<li>Internal and external vulnerability scanning</li>
	<li>Penetration testing</li>
	<li>Awareness and secure coding training</li>
	<li>Policies and procedures</li>
</ul>
Our program allows the franchise organizations that are large enough to require a Level 2 merchant assessment to take advantage of discounted costs due to their relationship and shared systems with the corporate organization.

By providing such guidance and special offers, franchise owners see that this program provides a balance between cost and the benefits of brand protection.

"When Sword &amp; Shield enters in to an assessment agreement, we view the relationship as a partnership," Harmon said. "We have extensive experience in the franchisor/franchisee market space working with large distributed food, retail, and fuel companies to help improve their security position as well as assess their compliance."

Try the service now and receive 30 minutes free consultation time with a Qualified Security Assessor (QSA).

To learn more, call us at 865-244-3500, email us at <a href="mailto:sales@swordshield.com">sales@swordshield.com</a> or fill out a <a href="https://www.swordshield.com/more/about/contact/">consultation request</a>.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#mssp">Our Franchise Program Helps You Stay PCI Compliant</a></li>
	<li><a href="#kba">Sword &amp; Shield Sponsors Netsmart Event</a></li>
	<li><a href="#training">Training</a></li>
</ul>
<h2><a name="kba"></a>Sword &amp; Shield Sponsors Netsmart Conference</h2>
Sword &amp; Shield will once again sponsor and exhibit<img class="alignright size-thumbnail wp-image-8490" alt="netsmart_logo" src="https://www.swordshield.com/images/netsmart_logo-150x27.png" width="150" height="27" /> at Netsmart's Connections2014 conference Oct. 6 - 9 in Anaheim, CA and will focus on our healthcare compliance services.

Come to Booth 104 and see how our <a href="https://www.swordshield.com/services/managed-services-solutions-provider/">Managed Security Services Program</a> can help you stay HIPAA compliant.

With more than 140 sessions, 200 speakers, and more than 1,000 attendees, CONNECTIONS2014 is quickly becoming one of the largest educational opportunities for those in the Health and Human Services communities. It’s the most direct, cost-effective and single source event to help members maximize the effectiveness of their Netsmart solutions.

<strong><a href="https://www.cvent.com/events/connections2014/registration-b5bce9c5330842ffa3f671ea03e0ad6f.aspx?tw=39-1E-DE-F8-5D-A1-46-5A-25-4E-D5-F6-BC-51-EA-56" target="_blank">Register now!</a></strong>
<h2><a name="training"></a>Alien Vault Training</h2>
Register for our Oct. 13 -17 Alien Vault Certified Systems Engineer training held at our Knoxville office.

Operators with their ACSE certificate are highly <img class="size-full wp-image-8236 alignleft" alt="alienvault" src="https://www.swordshield.com/images/alienvault.png" width="116" height="73" />valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control.

<a href="https://www.swordshield.com/certified-training/registration/">Register here</a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>