<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Protect your health records from Cyber Criminals.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-11" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">November 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/11/stethescope-laptop-screen.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Cyber
            Criminals Want Your Health Records<br />Be Proactive in Protecting
            Them</div>
            			<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">When the Health Insurance Portability and Accountability Act (HIPAA) was signed into law in 1996, the Internet was a new frontier mostly used for academia, chat rooms and entertainment and mobile devices resembled military field equipment.
 <br><br>
	But since that time and as a result of government-funded incentives like <a href="http://searchhealthit.techtarget.com/definition/meaningful-use" target="_blank">Meaningful Use</a>, healthcare organizations have moved from storing health records in thick manila envelopes to Electronic Health Record (EHR) systems where the only thing standing in the way of a patient's record and the Internet is a username and password. And, health care professionals keep their patients' medical history on devices that can fit in the palms of their hands.
	<br><br>
	While keeping health records electronically has made retrieving them more convenient for the provider and the patient, the practice has also made these records more <a href="http://www.cnbc.com/2015/11/11/" target="_blank">vulnerable to breaches</a>.
	<br><br>
	Health records are sometimes compromised as a result of <a href="https://www.swordshield.com/2015/09/white-paper-insider-threats-do-employees-care-about-your-data/" target="_blank">employee negligence</a>, but <a href="http://www.symantec.com/security_response/publications/threatreport.jsp" target="_blank">Symantec's Internet Security Threat Report</a> has found that more heath record breaches happen intentionally rather than accidentally. Healthcare data is the most lucrative information on the black market and is actively sought by cyber criminals.
	<br><br>
	Advanced Persistent Threats (APTs) and other advanced attacks are some of the most serious challenges medical offices and hospitals face. APTs are often stealthy, complex and constantly changing, making them difficult to detect and harder to contain. They are also often funded by nation-states or large underground organizations with unlimited resources.
	<br><br>
	It's tempting for a healthcare organization to believe that technology, alone, will solve this problem. Plenty of security product vendors suggest that their solution will do just that, but the fact is that a variety of methods are needed to secure medical records and mitigate the damage should a breach occur.
	<br><br>
	At Sword &amp; Shield, we believe an integrated approach to data security is the most effective method for combating risks. This is achieved by using a combination of products and the expertise of professional security analysts. The products help gather security intelligence, log and monitor behavior and detect threats on your network while the experts help you discover where your data resides and analyze your systems for vulnerabilities.
	<br><br>
	But even with a strong foundation, experts warn that breaches still happen. Therefore, your company needs a plan of action when a breach occurs. Detecting, analyzing and remediating that breach quickly will save your organization time, money and loss.
	<br><br>
	Sword &amp; Shield assists with all aspects of HIPAA compliance: from the development of comprehensive policies and procedures to help you maintain compliance, to data breach notification procedures should the unthinkable happen to you. Our healthcare security and compliance consultants can assist you in developing a structured and customized plan for the requirements of your organization.
	<br><br>
	Take the time to be proactive and properly secure your organization before the repercussions become severe and you face fines or damage your reputation.
	<br><br>
	For more information about how Sword &amp; Shield can secure your organization while making sure you meet compliance guidelines, please contact us by calling 865-244-3500 or emailing us at <a href="mailto:secureme@swordshield.com">secureme@swordshield.com</a>.</div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Official (ISC)<sup>2</sup> CISSP Training March 7-11</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">The challenge to protect the information that is both shared and available online continues to grow as the Internet expands. Companies and governments are spending billions of dollars to secure their data and prevent outside attacks. They need employees who are skilled in thwarting these attacks.
<br><br>
	<img src="https://www.swordshield.com/newsletters/images/2015/11/isc2.jpg" style="display: block; float: right;" width="299" height="185" align="right">Obtaining a Certified Information Systems Security Professional (CISSP) certification shows you are an expert in information security and this increases your chances of being hired. It also increases the possibility you will be hired at a higher salary.
<br><br>
	Sword &amp; Shield's official five (5)-day (ISC)<sup>2</sup> CISSP Training gets you trained, certified and back to work within a week with the skills necessary to protect your organization from hackers, attackers and security threats. Our program delivers the most up-to-date, authorized content and is backed by our certification process. The course includes an exam voucher that can be used at any (ISC)<sup>2</sup> -approved testing facility.
<br><br>
	<strong>Join us March 7-11, 2016 in the classroom or online.</strong>
<br><br>
	Other dates:
<ul style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
	<li>May 9-13</li>
	<li>July 11-15</li>
	<li>September 12-16</li>
	<li>November 7-11</li>
</ul>
	We are also holding an (ISC)<sup>2</sup> Healthcare Information Security and Privacy Practitioner (HCISPP) course April 11-15.
<br><br>
	<a href="https://www.swordshield.com/cissp-cbk-training/" target="_blank">Register For Your Class Today!</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Bill Dean to Speak to Internal Auditors</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Sword & Shield Director of Computer Forensics and Security Assessments Bill Dean will talk cybersecurity to the Chattanooga Chapter of the Institute of Internal Auditors next month.
<br><br>
The group will host the seminar from 11:30 a.m. to 2 p.m. on Thursday, Dec. 3 at the Walden Club.
<br><br>
Lunch is provided.
<br><br>
<a href="https://www.alareg.com/_Dec2015ChattIIAMeeting" target="_blank">Register here</a> by Monday, Nov. 30.</div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Alien Vault Certified Systems Engineer Training</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/11/alienvault-logo_green.png" style="display: block; float: right;" width="268" height="168" align="right">Register for our Dec. 14-18 Alien Vault Certified Systems Engineer training held at our Knoxville office or online.
<br><br>
Operators with their ACSE certificate are highly valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, Alien Vault customers will experience greater return on investment, better security and more efficient operational control.
<br><br>
<a href="https://www.alienvault.com/support/classroom-training" target="_blank">Register here</a>.</div>

					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>