<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="https://www.swordshield.com/images/newsletter-logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">July 2014 ~ Volume 7</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="mssp"></a>Meet the Expert: Managed Services Security Analyst Rocky Breeden</h2>
For Sword &amp; Shield Security Analyst Rocky Breeden, managing the security of a customer's IT network is akin to the security work that first peaked his interest in the field.<img class="alignright size-medium wp-image-8308" style="width: 163px; height: 269px;" alt="Rocky in Lance Helmet" src="https://www.swordshield.com/images/Rocky-in-Lance-Helmet1-325x525.jpg" width="325" height="525" />

"I like the variety - the investigations," he said. "I like finding and seeing new trends. It's like a puzzle I have to piece together."

Breeden is one of the experts that can help Sword &amp; Shield manage your IT security program for you, while still keeping your staff alerted and informed of events and vulnerabilities. This service can be tailored to meet the needs of any customer network and can be scaled to meet the changing needs of your computing situation.

"Instead of needing to have a full staff - or pull from existing IT staff - to go through system logs and trying to manage intrusion detection systems, companies can use our experience to help them manage their network" Breeden said. "It's also easier for some companies' budgets to have a single set cost instead of trying to manage a variety of man-hours and other expenses."

Breeden first became interested in IT security while working as both physical security detail and on the network desk in the U.S. Army when he worked under a civilian who had a degree in IT security.

"I was already in one type of security," he said. "I wanted to get into computers because everything was going digital."

After leaving the Army, Breeden worked to receive his certification in Information System Security from the University of Phoenix and then received an associate's degree in Information Technology from Fountainhead College. He also received a bachelor's in Network Security &amp; Digital Forensics from Fountainhead.

He also has AlienVault and Juniper certifications in addition to his Senior System Manager, Information Systems Security Officer and Risk Analyst certifications.

Breeden started his IT career at Regal Entertainment Group before moving to Ruby Tuesday, where he was promoted to IT security manager within a year.

Last year, he came to work for Sword &amp; Shield as the company prepared to offer extended services to its customers in the form of managed security.

At Sword &amp; Shield, Breeden works exclusively with Managed Security Services where he analyzes and reports security events for customers, creates custom scripts and creates policies and procedures so that Sword &amp; Shield's Security Operations Center runs smoothly.

"We're used to listening to that type of traffic - of seeing the footprints in the sand," he said.

For more information about Sword &amp; Shield's MSSP services, please call us at <a href="&quot;tel">865-244-3500</a> or email <a href="mailto: sales@swordshield.com">sales@swordshield.com</a>.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#mssp">Meet Your Managed Security Expert</a></li>
	<li><a href="#kba">Sword &amp; Shield Expert to Speak at KBA Event</a></li>
	<li><a href="#blog">From the Blog</a></li>
	<li><a href="#training">Training</a></li>
</ul>
<h2><a name="kba"></a>Sword &amp; Shield Expert to Speak at KBA Event</h2>
Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will speak to area attorneys at the Knoxville Bar Association's "Corporate Ethics &amp; Updates: The 2014 KBA Corporate Counsel Section Annual CLE" on Thursday, Aug. 21 at the Peerless Restaurant.

Dean will discuss cybersecurity risks and how attorneys can prepare for data breaches. This will include an update on notable cyber and data security-related litigation from the past year, highlighting implications for attorneys and their corporate clients.

The event runs from noon to 4:45 p.m. and includes lunch.

<a href="http://www.knoxbar.org/index.php?option=com_jcalpro&amp;Itemid=10&amp;extmode=view&amp;extid=3638&amp;date=2014-08-21">Read More</a>
<h2><a name="blog"></a>From the Blog</h2>
<strong>Digital Pictures - More Than Meets the Eye: </strong>We all know the value a picture can bring to a situation. Having someone verbally describe the details may provide great value, but can often be disputable without “hard” evidence. However, a picture “tells a thousand words” of the scenario someone is attempting to describe. But did you know that digital pictures contain embedded details that can often provide additional information of value, or even tell a completely different story?

<a href="https://www.swordshield.com/2014/06/23/digital-pictures-meets-eye/">Read More</a>
<h2><a name="training"></a>Alien Vault Training</h2>
Register for our Aug. 11-15 Alien Vault Certified Systems Engineer training held at our Knoxville office.

Operators with their ACSE certificate are highly <img class="size-full wp-image-8236 alignleft" alt="alienvault" src="https://www.swordshield.com/images/alienvault.png" width="116" height="73" />valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control.

<a href="https://www.swordshield.com/certified-training/registration/">Register here</a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
