<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Merry Christmas and Happy New Year from Sword &amp; Shield!</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-12" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">December 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/12/cybersecurity.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">2015
            Was the Year of Big Data Breaches<br />Will 2016 See More
            Solutions?</div>
            			<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">One hundred thousand healthcare records, 22 million current and former federal employees' personnel records and, of course, Ashley Madison.
<br><br>
2015 saw some of the largest and nastiest data breaches in recent years. It's a trend security experts don't think will abate in 2016 even though a bevy of surveys indicate that business leaders place cybersecurity as a top priority.
<br><br>
The truth is, there are still large numbers of decision-makers that either think they are protected or don't think they are a target.
<br><br>
In fact, <a href="http://www.businessnewsdaily.com/8231-small-business-cybersecurity-guide.html">surveys produced by major insurance companies</a> say that 82 percent of small to mid-sized business owners don't believe they are a target for cyber-attacks, <a href="https://www.swordshield.com/2015/11/mid-market-businesses-the-new-target-of-advanced-attacks/">despite ongoing research</a> that small and mid-sized markets are a hacker's new favorite playground.
<br><br>
Sword &amp; Shield experts say that smaller companies who create a niche market by expanding their data security protections and promoting that fact may see some successes at the expense of their less-secure competition.
<br><br>
The worldwide cybersecurity market is expected to grow from $77 billion in 2015 to more than $170 billion in 2020 and the U.S. government has budgeted a whopping $14 billion to spend on cybersecurity in 2016.
<br><br>
Our team created a list of data security issues they expect to see in 2016:

<ul style="margin-left: 30px; margin-right: 30px; padding: 0;">
<li>Healthcare will continue to be a highly valued target for cybercriminals. Healthcare information is often 10 times more valuable than financial information like a credit card number on the black market because hackers can sell identities using personal data, create fake identifications to buy medical equipment or drugs and file fraudulent claims with insurance companies.<br /><br /></li>

<li>Many hacks will continue to exploit the "simple things" that companies and/or employees should have been trained to avoid such as default or easily guessable credentials. Our experts think they will still be exploiting decades-old vulnerabilities and discovering that IT departments haven't been updating patches.<br /><br /></li>

<li>Hactivists will breach a presidential candidate's campaign site. Our experts don't know which candidate(s) will be the target, only noting that it will be the first candidate that proposes something against the hactivists' cause.<br /><br /></li>

<li>An increase in data breaches for credit data processed by credit bureaus, mortgage companies, title companies and any other company that handles loan applications. These organizations hold valuable data caches on consumer identities.<br /><br /></li>

<li>Despite resistance by privacy advocates, the U.S. government will be successful in getting an encryption backdoor/bypass in tech products. The government will use the war on ISIL/terrorism to accomplish this.<br /><br /></li>

<li>Cloud breaches. From Amazon to multi-tenant cloud services, our experts think the cloud will continue to be targeted and at least one major high-profile hack of a cloud provider is in store for 2016.<br /><br /></li>
</ul>
Whether these predictions come true is yet to be seen, but one thing our experts all agree on is that cybersecurity is needed on all fronts.
<br><br>
At Sword &amp; Shield, your security is our No. 1 priority. Please call us at 865-244-3500 or email us at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a> to see how we can make 2016 your secure future.</div>
<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Now Offering CISSP Training Through (ISC)<sup>2</sup></div>
<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">The challenge to protect the information that is both shared and available online continues to grow as the Internet expands. Companies and governments are spending billions of dollars to secure their data and prevent outside attacks. They need employees who are skilled in thwarting these attacks.
<br><br>
<img src="https://www.swordshield.com/newsletters/images/2015/11/isc2.jpg" style="display: block; float: right;" width="148" height="93" align="right">Obtaining a Certified Information Systems Security Professional (CISSP) certification shows you are an expert in information security.
<br><br>
Sword &amp; Shield's official five (5)-day (ISC)<sup>2</sup> CISSP Training gets you trained, certified and back to work within a week with the skills necessary to protect your organization from hackers, attackers and security threats. Our program delivers the most up-to-date, authorized content and is backed by our certification process. The course includes an exam voucher that can be used at any (ISC)<sup>2</sup> -approved testing facility.
<br><br>
Join us March 7-11, 2016 in the classroom or online.
<br><br>
Other dates:
<br><br>
May 9-13<br />
July 11-15<br />
September 12-16<br />
November 7-11
<br><br>
We are also holding an (ISC)<sup>2</sup> Healthcare Information Security and Privacy Practitioner (HCISPP) course April 11-15.
<br><br>
<a href="https://www.swordshield.com/cissp-cbk-training/">Register Now</a></div>

<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Join Our "Addressing Your Advanced Threats" Webinar Friday, Feb. 5, 2016</div>
<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Today's cyber attacks are more stealthy and malicious than ever before and are programmed to remain unnoticed for as long as possible until an opportune time in the future to inflict damage.
Breaches, state-sponsored hacks and loss of confidential data dominate the news cycle. From this we see that cyber intrusions are mainstream and frequent (and this is just what is disclosed).
<br><br>
Every organization has digital information of value and adversaries want it. Data breaches can result in fines, a loss of revenue, legal fees and damage to your reputation.
<br><br>
Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will describe the threat landscape and the steps organizations should take to protect themselves during this hour-long webinar.
<br><br>
<a href="https://www.eventbrite.com/e/addressing-your-advanced-threats-tickets-20054981991" target="_blank">Register Here</a></div>

<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Online Magazine Features Sword &amp; Shield</div>
<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/12/logo-shieldonly-color.png" style="display: block; float: right;" width="90" height="200" align="right"><a href="http://www.teknovation.biz/">Teknovation.Biz</a>, an online technology magazine out of East Tennessee, has featured a three-part series on Sword &amp; Shield and the company's President and CEO <a href="https://www.linkedin.com/in/johnm4">John McNeely</a>.
<br><br>
The magazine is sponsored by <a href="http://www.pyapc.com/">Pershing, Yoakley &amp; Associates, P.C.</a> and features "all things" related to technology, innovation and entrepreneurship in the region. The website's goal is to help create more awareness of East Tennessee's assets.
<br><br>
The series was written by Pershing Yoakley's <a href="http://www.pyaanalytics.com/thomas-ballard/">Chief Alliance Officer Tom Ballard</a> and chronicles Sword &amp; Shield's birth and growth.
<br><br>
Read the series:
<ul style="margin-left: 30px; margin-right: 30px; padding: 0;">
<li><a href="http://www.teknovation.biz/2015/12/06/part-1-cross-country-running-prepared-john-mcneely-calling/">Part 1: Cross Country Running Prepared John McNeely for His Calling</a></li>
<li><a href="http://www.teknovation.biz/2015/12/07/part-2-sword-shield-started-james-goldstons-two-story-garage/">Part. 2: Sword &amp; Shield Started in James Goldston's Two-Story Garage</a></li>
<li><a href="http://www.teknovation.biz/2015/12/08/part-3-sword-shield-serves-thousands-customers-knoxville-base/">Part 3: Sword &amp; Shield Serves Thousands of Customers from Knoxville Base</a></li>
</ul>

</div>


					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>