<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="578" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="578" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="http://clients.graphickarma.com/swordandshield/logo.gif" width="578" height="159" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">March 2014 ~ Volume 3</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="578" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2>Our vSCC Can Solve IT Security Problems Without Busting Budgets</h2>
The impact of a network security breach can affect a company's reputation, growth and, ultimately, their bottom line.<img class="alignright size-thumbnail wp-image-8008" alt="Enterprise Solutions Graphic" src="https://www.swordshield.com/images/Enterprise-Solutions-Graphic-150x95.png" width="150" height="95" />

But, the increase of more sophisticated threats, the pressure to achieve regulatory compliance, an increased use in mobile technology and tightened IT budgets are straining already stretched IT departments.

Imagine having access to a security expert, a computer forensics "guru" and a compliance specialist without paying for each expert individually.

Enter our Virtual Security and Compliance Consultant (vSCC).

Our vSCC is an integral part of Sword &amp; Shield's <a href="https://www.swordshield.com/images/Enterprise-Solutions_FINAL.pdf">Enterprise Solutions</a> for businesses. Our vSCC provides your company with seasoned IT experts for less than the cost of hiring several additional staff. This allows management to make prudent decisions to achieve security and regulatory compliance goals.

"We're there as an extension of the IT staff," said Fred Cobb, Sword &amp; Shield's director of Enterprise Solutions. "We can be both big-project and small- task focused."

Cobb said hiring our vSCC complements a customer's existing IT or security staff and aids in meeting security and compliance goals.

"You may have the staff, but, oftentimes there needs to be a separation of duties between the security aspects of the environment and the IT operational aspects," he said.

Cobb also pointed out that, in today’s employment environment, the field of IT security is highly volitile and a premium is placed on the skills that security professionals demonstrate. As a result, security experts may only stay with your organization for a short period before leaving for the next opportunity.

"High turnover can have a negative financial impact  on an organization," he said. "We've been here 17 years. We're not going anywhere."

For more information about how Sword &amp; Shield's Enterprise Solutions can enhance your IT staff, please <a href="/contact/">contact</a> us or call <a href="tel:+18652443500">865-244-3500.</a>
<p class="top"><a href="#top">Back to top</a></p>

<h2><a name="cando"></a>We Can Do What?</h2>
Do you find the process of product license and maintenance renewals to be cumbersome, time-consuming and cost-inefficient?

<img class="alignright" title="Check Point UTM-1 Appliance" alt="Check Point UTM-1 Appliance" src="/images/appliance_ts.jpg" width="168" height="47" />Would you prefer working with a single point-of-contact, rather than multiple account executives and product vendors?

Stay tuned for more information on our fresh approach to your renewal problems.

<a href="#top">Back to top</a>
<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#vscc">What Can a VSCC do for You</a></li>
	<li><a href="#cando">We Can Do What?</a></li>
	<li><a href="#gartner">Sword &amp; Shield Makes Gartner List</a></li>
	<li><a href="#blog">From the Blog</a></li>
</ul>
<h2><a name="gartner"></a>Sword &amp; Shield Makes Gartner's MSSP List</h2>
Sword &amp; Shield is pleased to be recognized as one of the Top 10 managed security service providers to watch by Gartner, a leading technology research company.

<img class=" wp-image-8011 alignright" alt="gartner" src="https://www.swordshield.com/images/gartner-150x34.png" width="120" height="27" />“Managed security service providers continue to transform themselves, while product managers and marketers struggle to find ways to distinguish offerings as advanced threats and manufacturer-based MSSP services emerge," said <a href="http://www.gartner.com/AnalystBiography?authorId=38832">Lawrence Pingree</a>, who helped pen the report.

Sword &amp; Shield provides a unique contribution as their recently announced MSS offering moves away from a pure-play value-added resale model, the report says.

Click <a href="https://www.gartner.com/doc/2582915/market-trends-managed-security-services">here</a> to purchase the report.

<a href="#top">Back to top</a>
<h2><a name="blog"></a>From the blog</h2>
<strong>Just Because It’s Over Doesn’t Mean It Has To End…right Windows XP? </strong>With little to no argument, we all loved Windows XP for the stability and workhorse capabilities that it has provided us for more than a decade. It was our <img class="alignright size-thumbnail wp-image-7991" alt="simpson end" src="https://www.swordshield.com/images/simpson-end-150x112.jpg" width="150" height="112" />saving grace to avoid the debacle of Windows Vista, but Microsoft tells us that we must move on to something better. While there are many technical details surrounding this “expiration”, our job is to secure your data while you complete your migration off of Windows XP. <a href="https://www.swordshield.com/2014/03/10/windows-xp/">Read More</a>

<strong> SSC Chief Testifies Before US House Financial Services Committee: </strong>Data security best practices include a multi-layered approach involving people, processes and technology, said Payment Card Industry Security Standards Council (PCI SSC) Chief Technology Officer Troy Leach<strong>. </strong><a href="https://www.swordshield.com/2014/03/07/pci-ssc-testifies-us-house-financial-services-committee/">Read More</a>

<a href="#top">Back to top</a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="tel:+18652443500">865-244-3500</a></h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3> <a href="mailto:sales@swordshield.com">sales@swordshield.com</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" width="578" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="559" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
