<table border="0" width="100%" cellspacing="1" cellpadding="1">
	<tbody>
		<tr>
			<td align="center">
				<table class="bgTop" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center">
								<table class="header" border="0" width="700" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td><img class="logo" src="https://www.swordshield.com/images/newsletter-logo.gif" alt="Sword and Shield Enterprise Security Newsletter" width="700" height="190" /></td>
										</tr>
										<tr>
											<td bgcolor="#181818">
												<h3 class="header" style="text-align: center;"><span style="color: #ffffff;">Nov. 2014 ~ Volume 11</span></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bg" border="0" width="700" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td align="center" valign="top" width="325">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="mainbar" align="left">
												<h2><a name="mssp"></a>Keep Your Payment Cards Safe this Holiday Season</h2>
												Last year, at the height of holiday shopping season, hackers stole more than 40 million debit and credit card numbers when they breached Target's point of sale system.
												Now, as Americans gear up for another season of holiday purchasing, there are some tips they can follow to help ensure their debit and/or credit card information isn't stolen or compromised.
												Sword &amp; Shield Director of PCI and EI3PA Services John Harmon said consumers need to be aware of whose money they are using. <img class="alignright wp-image-9755" src="https://www.swordshield.com/wp-content/uploads/2014/11/online-shopping.jpg" alt="online-shopping" width="200" height="150" />
												<span style="font-family: Calibri; font-size: medium;">"</span>Debit cards are paid directly out of the consumers bank account, so if your card was compromised it could result in your checking account being emptied resulting is a cascade of other issues," he said. "When you use a credit card you are using the money of the company that extended you credit, so if there is a problem, the credit card issuer can help correct the issue without further issues being generated for the consumer."
												Consumers can also use their new "Chip and PIN," or Europay, MasterCard and Visa (EMV) cards. The chip-enabled cards are more secure because the use of the card requires a PIN to be entered for the transaction to process.
												However, Harmon warns that most retailers don't have the <a href="http://www.cbsnews.com/news/why-new-chip-and-pin-cards-wont-protect-you-yet/">technology</a> to run the cards based on the microchip and still run them based on the magnetic strip.
												Other safety tips include:
												<ul>
													<li>Checking Your Account Activity</li>
													<li>Keeping Track of Your Cards</li>
													<li>Choosing Your Method of Payment Wisely</li>
												</ul>
												Harmon also advised that merchants and customers cooperate on safety measures at the point-of-sale.
												"One of the biggest things that both consumers and merchants can do during the holiday season is for merchants to ask for ID when using payments cards and for consumers to not get upset or angry when asked for ID," he said. They should, instead, thank the merchant for checking and helping to reduce payment card fraud."
												<a href="#top">Back to top</a>
												<h3></h3>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="sidebar" align="center" valign="top" width="250">
								<table border="0" width="100%" cellspacing="1" cellpadding="1">
									<tbody>
										<tr>
											<td class="sidespace" align="left">
												<h2>In this issue</h2>
												<ul>
													<li><a href="#mssp">Keep Your Payment Cards Safe this Holiday Season</a></li>
													<li><a href="#kba">Sword &amp; Shield PCI SIG Topic Chosen for 2015</a></li>
													<li><a href="#training">Training</a></li>
												</ul>
												<h2><a name="kba"></a>Sword &amp; Shield PCI SIG Topic Chosen for 2015</h2>
												Sword &amp; Shield’s Special Interest Group topic was one of two selections chosen and will be featured by the PCI Security Standards Council (PCI SSC) at community meetings throughout 2015.<a href="https://www.swordshield.com/wp-content/uploads/2014/11/pci-SSC-standard.jpg"><img class="alignright wp-image-9735 size-full" src="https://www.swordshield.com/wp-content/uploads/2014/11/pci-SSC-standard.jpg" alt="pci SSC standard" width="150" height="106" /></a>
												PCI participating organizations, including merchants, financial institutions, service providers and associations, voted on the seven proposals submitted by their peers and presented for consideration at the 2014 PCI community meetings. Sword &amp; Shield’s topic, <strong><em>Daily Log Monitoring: Guidance on Effective Daily Log Monitoring</em></strong>, was the first selection chosen.
												<a href="https://www.swordshield.com/2014/10/sword-shield-team-places-2nd-derbycon-event/"><strong>Read More</strong></a>
												<h2><a name="training"></a>Upcoming AlienVault Training with Sword &amp; Shield</h2>
												Register for our Dec. 8-12 AlienVault Certified Systems Engineer training held at our Knoxville office or online.
												Operators with their ACSE certificate are highly <img class="size-full wp-image-8236 alignleft" src="https://www.swordshield.com/images/alienvault.png" alt="alienvault" width="116" height="73" />valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control.
												<a href="https://www.alienvault.com/support/classroom-training">Register here.</a>
												<table class="options" border="0" width="100%" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="https://www.swordshield.com/contact-us/">Connect</a> with us!</h3>
															</td>
														</tr>
														<tr>
															<td class="border" align="center" valign="top">
																<h3><a href="mailto:secureme@swordshield.com" target="_blank">Email</a> us!</h3>
															</td>
														</tr>
														<tr>
															<td align="center" valign="top">
																<h3><a href="tel:+865-244-3500">Call us!</a></h3>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="bgBottom" style="width: 704px; height: 50px;" border="0" width="704" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="center" valign="middle">
								<table class="footer" border="0" width="700" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
											1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>