<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">Preheader text goes here.</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
		<td align="center" valign="top" style="background: #eeeeee;">
			<table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
				<tr>
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-02" style="color: #999999;">View it online</a>.</td>
				</tr>
				<tr><td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td></tr>
				<tr>
					<td><table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
						<tr><td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
					<td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">February 2015</td></tr>
					</table></td>
				</tr>
				<tr>
					<td><img src="https://www.swordshield.com/newsletters/images/2015/02/feature.anthem-inc.640x300.jpg" alt="Anthem Inc victim of a massive cybersecurity breach" style="display: block;" width="640" height="300" /></td>
				</tr>
				<tr>
					<td style="background-color: #fff; padding: 20px; width: 600px;">
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">If You Have the Data, the Hackers will Come</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Insurance giant Anthem, Inc. had the data - 80 million healthcare records that included Social Security number, birthdays, addressess, email and employment and income information.<br>
						<br>
						So, the hackers came and availed themselves to this data that is worth millions of dollars and probably will cost Anthem millions in fines, lawsuits and clean-up, not to mention an untold amount in reputation rehabilitation.<br>
						<br>
						Experts said the information was vulnerable because Anthem did not take simple steps - like protecting its internal data through encryption - in the same way it protected medical information that was sent or shared outside the database.<br>
						<br>
						<a href="http://www.usatoday.com/story/cybertruth/2014/01/20/why-checkbox-compliance-wont-stop-target-like-breaches/4655859/">Security experts</a> agree that companies with tunnel vision related to compliance often focus more on implementing controls to check a box rather than deal with real-world security issues.<br>
						<br>
						"Being compliant can give a false sense of security," said Sword &amp; Shield President and CEO John McNeely. "Compliance standards are typically written to some baseline security measures and should be viewed as a starting point. Companies that just focus on compliance can find themselves still exposed to threats. Compliance standards may give some prescriptive direction, but most are ambiguous on key security controls and leave many implementation details up to the organization.<br>
						<br>
						"Businesses that don't take the time to develop sound security strategies that address the uniqueness of their organization and specifics of how to implement security effectively will, most likely, find themselves dealing with a security incident even though they are 'compliant'," he said.<br />
			            <br />
			            Little has been done to address whether Anthem was HIPAA compliant, but there's more to IT security than paint-by-the-numbers compliance guidelines. The key thing about IT security is that you can never totally eliminate the risk, you can only mitigate it.<br />
			            <br />
			            Sword &amp; Shield works to be a long-term partner. We don't do drive-by compliance assessments and work with your company to provide continuous monitoring, rapid response and a roadmap to a secure and compliant future.
						</div>

						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Unpatched Adobe Flash Player Vulnerability Allows Hackers to Take Control of System</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/02/adobe-hack.400x225.jpg" style="display: block; float: right;" width="200" height="113" align="right">Adobe Systems warned users that hackers are exploiting another unpatched vulnerability in Flash Player, which is the third vulnerability in the past month.<br>
						<br>
						There are reports that the vulnerability is being actively exploited in drive-by-download attacks that target systems running Flash Player under Internet Explorer or Mozilla Firefox on Windows 8.1 and earlier.<br>
						<br>
						Adobe said in a security advisory published Monday, "A critical vulnerability (CVE-2015-0313) exists in Adobe Flash Player 16.0.0.296 and earlier versions for Windows and Macintosh.  Successful exploitation could cause a crash and potentially allow an attacker to take control of the affected system." <br>
						<br>
						Sword &amp; Shield's Asset Discovery and Vulnerability Assessment - a component of our Managed Security Services - delivers an inventory of critical assets along with a vulnerability mapping to help reduce the exposure to attack. <br>
						<br>
						<a href="https://www.swordshield.com/2015/02/unpatched-vulnerability-allows-hackers-to-take-control-of-system/" target="_blank">See More</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Dean to Speak at InfoSec World Conference</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img src="https://www.swordshield.com/newsletters/images/2015/02/infosecworldlogo.453x61.jpg" style="display: block; float: right;" border="0" hspace="12" vspace="12" width="300" height="40" align="right">Sword & Shield Director of Computer Forensics and Security Assessments Bill Dean will speak about threat intelligence at the InfoSec World Conference and Expo on Monday, March 23 from 3:15 to 4:15 p.m.<br>
						<br>
						Dean's topic will include:
						<ul style="margin-left: 30px; margin-right: 30px; padding-left: 0;">
							<li>Concerns about trust and disclosing too much privacy<br>
							&nbsp;</li>
							<li>Understanding the value of threat intelligence<br>
							&nbsp;</li>
							<li>Learning the rich sources to build your own program<br>
							&nbsp;</li>
							<li>How to safely share threat intelligence with others<br>&nbsp;</li>
						</ul>
						InfoSec World runs March 23-25 at Disney's Contemporary Resort in Orlando.<br>
						<br>
						<a href="http://www.infosec-world.com/Registration-Details.html" target="_blank">Click here</a> for more information and to register.</div>
					</td>
				</tr>
				<tr id="footer">
					<td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.<br><br>
						<a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a><br><br>
						<a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>