<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="http://clients.graphickarma.com/swordandshield/logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">February 2014 ~ Volume 2</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="chapter4"></a>Managed Security Services Let You Run the Business You Created</h2>
<a>
Security and compliance may not be your core business, but the demands it places on your IT staff may make you think it is.</a>

Sword &amp; Shield Enterprise Security's managed security services can help take the weight of maintaining security and meeting compliance off of your staff so you can concentrate on your business - the company you WANT to run.

"We're a security company," said Brent Cantrell, MSSP manager of operations. "That's our core business. This is what we do."
<p style="text-align: left;">Cantrell said managed security services help small and medium-sized business (SMB) reduce their capital expenditures by reducing the number of new products needed to maintain security and compliance and by removing the cost of annual license renewals.<img class=" wp-image-7964 aligncenter" alt="MSSP Chart" src="https://www.swordshield.com/images/MSSP-Chart-350x239.jpg" width="330" height="219" /></p>
Other reasons include:
<ul>
	<li>The need for greater competency at reduced costs. Good security experts are expensive and it is not cost-effective for an SMB to have them on the payroll.</li>
	<li>A predictable monthly fee. This allows for better budgeting and helps keep costs low.</li>
	<li>The need for 24/7 logging and monitoring. An MSSP can keep on top of emerging threats and can more quickly find existing threats.</li>
	<li>Complying with new regulatory requirements that demand extensive reporting and continuous auditing.</li>
</ul>
Sword &amp; Shield uses the <a href="http://www.alienvault.com/">AlienVault</a> platform to manage the security of a network by identifying vulnerabilities and misconfigurations. We also use the platform's logging and monitoring abilities to keep up with existing and emerging threats. It is designed to be scalable so it can meet each client's individual needs.

Call us at 865-244-3500 or request a <a href="https://www.swordshield.com/more/about/contact/">consultation</a> to see how our team can lower your costs while ensuring the safety of your data.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#managed">Managed Security Services Let You Run Your Business</a></li>
	<li><a href="#seminar">Bill Dean to be a Panelist at Baker Donelson Seminar</a></li>
	<li><a href="#blog">From the Blog</a></li>
</ul>
<h2><a name="seminar"></a>Bill Dean to be a Panelist at Baker Donelson Seminar</h2>
Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will join other experts in a panel discussion on data security and privacy essentials at Baker Donelson Tuesday, Feb. 25 from 7:30 to 9 a.m.

The discussion will center around business privacy and security obligations, liabilities and roadmaps toward compliance. Breakfast will be served.

In addition to Dean, panelists will include Eric Setterlund, an attorney with Baker Donelson and Aaron Sherrill, the CTO of Claris Networks.

You can <a href="http://e2.ma/click/sbq0p/wqo0dg/gizucg">register online</a> or by email at <a href="mailto:rsvp@bakerdonelson.com">rsvp@bakerdonelson.com</a>. Continuing Education Credits may be available.

Baker Donelson is located at 265 Brookview Centre Way, Suite 600, Knoxville, TN 37919.
<h2><strong><a name="blog"></a>
From the blog</strong></h2>
<strong>PCI-DSS... is it Enough? </strong>With the recent outbreak of credit card data breaches, there has been a renewed ferver regarding the relevance of the PCI-DSS. This question has been gaining momentem, "Does the PCI-DSS still have relevance, and, does it even make credit card data safe? <a href="https://www.swordshield.com/2014/02/07/pci-dss-enough/">Read More</a>

<strong>Managed Security: Easing the Overworked IT Administrator</strong> Today's IT security environment requires that companies place more duties on over-worked system administrators to handle digital security issues alongside their daily activities of network operations. But how do they work it into their daily routine? <a href="https://www.swordshield.com/2014/02/04/mssp-help/">Read More</a>

&nbsp;
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
