<span class="preheader" style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">October is CyberSecurity Month</span>
<table border="0" cellpadding="30" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top" style="background: #eeeeee;">
            <table border="0" cellpadding="0" cellspacing="0" width="640" id="emailContainer">
                <tr>
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 30px; font-size: 12px; color: #999999; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">Having trouble seeing this email. <a href="https://www.swordshield.com/newsletters/newsletter.php?date=2015-10" style="color: #999999;">View it online</a>.</td>
                </tr>
                <tr>
                    <td><img src="https://www.swordshield.com/newsletters/images/header.2015-01.png" width="640" height="100" alt="Sword &amp; Shield - Intelligent Security" style="display: block;" /></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="36" id="header-headline">
                            <tr>
                                <td width="440" height="36" style="text-align: left; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px; font-size: 16px; font-weight: bold;">Security Solutions for Peace of Mind</td>
                                <td width="200" height="36" style="text-align: right; color: #fff; background-color: #acaeb0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-right: 20px; font-size: 16px; font-weight: bold;">October 2015</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><img src="https://www.swordshield.com/newsletters/images/2015/10/feature-image.2015-10.jpg" alt="Beginning Your Secure Future" style="display: block;" width="640" height="300" /></td>
                </tr>
                <tr>
                    <td style="background-color: #fff; padding: 20px; width: 600px;">
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">CyberSecurity Awareness Month: Creating a Culture of CyberSecurity in the Workplace</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">While information security should be a priority among the leaders of any organization, the cooperation of every employee is essential in order to create a secure work environment.
                            <br>
                            <br> Creating a culture of cybersecurity involves several steps. Companies whose employees know how to recognize phishing emails, know not to allow strangers to "tailgate" behind them through secure doors, know not to pick up and use random USB sticks and know not to install unauthorized apps or software onto company-owned equipment are more secure.
                            <br>
                            <br> Employees are security's "weak link," but without an executive "champion," security policies don't get implemented and training and updates get overlooked. A champion also informs employees on the policies and practice their company expects them to follow and why.
                            <br>
                            <br> So how do leaders create the security culture at work?
                            <ol>
                                <li>Acknowledge There Are Threats: Apathy is one of the most serious threats a company can face. If you believe you're too small or don't have enough intellectual and customer data to attract hackers, you've already lost the security battle.</li>
                                <li>Know Your Basics: Your IT security budget isn't as robust as that of a large organization, so hackers are more likely to target your technology and your people. Leaders develop processes for securing applications and infrastructure, implement them, train their staff, and then update and test these processes regularly.</li>
                                <li>Track Your Metrics: After developing your processes, you should create methods to identify and analyze how these threats impact your company's bottom line. This helps you determine the tools and strategies you need to fight these threats.</li>
                            </ol>
                            Purchasing equipment and allowing the technology to counter the threats is a necessary step, but it simply won't address the "people problem."
                            <br>
                            <br> According to a recent Sword &amp; Shield white paper, employees don't consider company data as important as their own personal information. Educating your employees about the value of your data and your policies and the importance of protecting it is one of the most critical aspects of your threat defense.
                            <br>
                            <br> A <a href="https://www.swordshield.com/managed-security/" target="_blank">managed security service provider</a> can help small and mid-sized businesses plug gaps while ongoing vulnerability assessments help you pinpoint where you need help the most.
                            <br>
                            <br> Let Sword &amp; Shield be your partner for a secure future by contacting us at 865-244-3500 or via email at <a href="mailto:secureme@swordshield.com" target="_blank">secureme@swordshield.com</a>.</div>
                        <div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Capture the Flag Competition Creates Learning Experience for Sword &amp; Shield Team</div>
                        <div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;">Recently, the Sword &amp; Shield pentest team made our annual pilgrimage to Louisville, KY to attend one of the best InfoSec conferences in United States, <a href="http://www.derbycon.com/" target="_blank">DerbyCon</a>.
                            <br>
                            <br> Derbycon is a conference for hands-on security professionals by hands-on security professionals. Talks range from security 101 to advanced kernel exploitation techniques.
                            <br>
                            <br><img style="float: right; display: block" border="0" alt="" src="https://www.swordshield.com/newsletters/images/2015/10/derbycon-logo.png" width="300" align="right" height="93" />Training plug: As a side note, I took the <a href="https://www.corelan-training.com/index.php/training-2/foundations/" target="_blank">Corelan Foundations</a> exploit development training there and I must say this was one of the best courses I have ever taken. The course is created by <a href="https://twitter.com/corelanc0d3r" target="_blank">corelanc0d3r</a> and was taught by Corelan team members <a href="https://twitter.com/lincoln_corelan" target="_blank">Lincoln</a> and <a href="https://twitter.com/thelightcosine" target="_blank">thelightcosine</a>. I highly recommend it if you are interested in software exploitation and exploit development.
                            <br>
                            <br>During the conference, we participated in the Capture-The-Flag competition, along with our good friend Stephen Haywood (Twitter: <a href="https://twitter.comAverageSecurityGuy" target="_blank">@AverageSecurityGuy</a>). If you are not familiar with CTF events, see <a href="https://en.wikipedia.org/wiki/Capture_the_flag#Computer_security" target="_blank">here</a>, <a href="https://ctftime.org/ctf-wtf/" target="_blank">here</a> or <a href="https://trailofbits.github.io/ctf/intro/README.html" target="_blank">here</a>. We ended up placing a reluctant eighth in the competition after we ran into a problem that was a valuable learning opportunity for us (the whole point of a CTF anyway) and felt it would be valuable to share.
                            <br>
                            <br><a href="https://www.swordshield.com/2015/10/extracting-password-hashes-from-large-ntds-dit-files/" target="_blank">See More</a>
                            <br />
                            <br /><strong>Other Blog Posts:</strong>
                            <br />
                            <br /><a href="https://www.swordshield.com/2015/10/are-you-staying-protected-while-always-connected/" target="_blank">Are You Staying Protected While Always Connected?</a>
                            <br />
                            <br /><a href="https://www.swordshield.com/2015/10/cyber-security-month-layered-security-unites-defenses-to-protect-data/" target="_blank">CyberSecurity Month: Layered Security Unites Defenses to Protect Data</a></div>
						<div class="faux_h1" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 600; color: #575759; margin-bottom: 8px;">Risk Management Conference: Bill Dean to Speak</div>
						<div class="faux_p" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; color: #404041; margin-bottom: 30px;"><img style="float: right; display: block" border="0" alt="" src="https://www.swordshield.com/newsletters/images/2015/10/bill-dean.png" width="110" align="right" height="110" />Sword &amp; Shield Director of Computer Forensics and Security Assessments Bill Dean will present, "Addressing Today's Advanced Threats" at  Scott Insurance's 2015 CFO/CPO Risk Management Conference on Wednesday, Nov. 4.
<br><br>
The conference is at the Grandover Resort and Conference Center in Greensboro, NC from 8:30 to noon.
<br><br>
For more information or to register for the conference, please visit Scott Insurance's <a href="http://www.scottins.com/seminars/" target="_blank">website</a>.</div>
                    </td>
                </tr>
                <tr id="footer">
                    <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: #acaeb0; color: #fff; padding: 20px;">Copyright &copy; 2015 Sword &amp; Shield Enterprise Security, All rights reserved.
                        <br>
                        <br>
                        <a style="color: #fff !important;" href="http://twitter.com/SwordShieldSec">Twitter</a> &bull; <a style="color: #fff !important;" href="https://www.linkedin.com/company/235839">LinkedIn</a> &bull; <a style="color: #fff !important;" href="https://www.swordshield.com">Website</a>
                        <br>
                        <br>
                        <a class="utilityLink" href="#" style="color: #fff !important;">Unsubscribe</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
