<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="https://www.swordshield.com/images/newsletter-logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">August 2014 ~ Volume 8</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2>HCP: Focus on Your Patients - We'll Focus on Your Security</h2>
Companies who take their HIPAA compliance seriously have taken notice of Sword &amp; Shield's HIPAA Compliance Program and are <img class="alignright size-thumbnail wp-image-7976" alt="HCP-Assessed" src="https://www.swordshield.com/images/HCP-Assessed-150x67.png" width="150" height="67" />signing up to participate at a record clip.

"We've had about a 50 percent increase each month since we started in February," said the company's new <img class="alignright size-thumbnail wp-image-7978" alt="HCP-Validated" src="https://www.swordshield.com/images/HCP-Validated-150x67.png" width="150" height="67" />Healthcare Compliance Services Director Brent Cantrell. "This program gives (customers) a strong sense of where they stand on compliance."

<img class="alignright size-thumbnail wp-image-7977" alt="HCP-Compliant" src="https://www.swordshield.com/images/HCP-Compliant-150x67.png" width="150" height="67" />Our <a href="https://www.swordshield.com/compliance-practice/hipaa-hitech/hipaa-compliance-shield-2/">HIPAA Compliance Program</a> (HCP) assures the customers of our <i>Partners</i> that the necessary security measures to safeguard Electronic Protected Health Information. In addition to meeting HIPAA compliance, our <i>Partners</i> are issued a Trust Mark they can use on their websites to show their customers and vendors they are compliant.

Organizations bearing the Trust Mark have been independently tested by the Sword &amp; Shield risk and compliance team. At the time the Compliance Shield was issued, Sword &amp; Shield attests that the organization has met or exceeds all HIPAA Privacy and Security rules.

"It's good for the customer because it keeps the lines of communications open between us," Cantrell said. "It's an ongoing dialogue regarding security and compliance."

Cantrell said Sword &amp; Shield developed the program as a means to help customers show they are addressing HIPAA in a positive manner.

"It enhances the reputation of our <i>Partners</i> by showing they are proactive with compliance," he said.

Sword &amp; Shield offers three certified HCP levels of compliance status:
<ul>
	<li>Sword &amp; Shield HIPAA Assessed</li>
	<li>Sword &amp; Shield HIPAA Validated</li>
	<li>Sword &amp; Shield HIPAA Compliant</li>
</ul>
"It adds an additional layer of security - another form of protecting sensitive data," Cantrell said.

The program ensures that participating companies seek Sword &amp; Shield's experts on a regular basis to update their compliance needs.

"Our clients know they have a <i>Partner</i> who focuses on their compliance and security so they have time to focus on their patients," Cantrell said.

For more information about HCP, please call us at <a href="&quot;tel">865-244-3500</a> or email <a href="mailto: sales@swordshield.com">sales@swordshield.com</a>.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#mssp">Focus on Your Patients. We'll Focus on Your Security</a></li>
	<li><a href="#kba">Sword &amp; Shield to Attend HiMSS Summit in Nashville</a></li>
	<li><a href="#blog">Special Offer</a></li>
	<li><a href="#training">Training</a></li>
</ul>
<h2><a name="kba"></a>Sword &amp; Shield to Attend HiMSS Summit of the Southeast in Nashville</h2>
Join Sword &amp; Shield at the Healthcare Information Management Service Society's Summit of the Southeast Sept. 16-17 in Nashville.

The HiMSS summit is an annual two-day conference that draws more than 900 healthcare IT professionals from across the Southeast. The event, held at the Music City Center, features keynote presentations, panel discussions, breakout clinical sessions and a unique connected healthcare pavilion.

If you're in the area or plan to attend the event, please stop by our booth.

<a href="http://www.summitofthesoutheast.org/">Register</a>
<h2><a name="blog"></a>Special Offer</h2>
<strong>Try Managed Security Services for One Month Free: </strong>With data breaches happening at a rapid pace you need protection against today’s advanced threats. You are invited to apply for a 1 month free trial of our <a href="https://www.swordshield.com/services/managed-services-solutions-provider/">Managed Security Services</a>. For qualified organizations you can experience the impact of having our expert security team monitor your network and systems for signs of cyberattacks and work with you to implement security strategies that avoid costly data breaches. This 30-day “try before you buy offer” is provided on a limited basis so contact us today!

<a href="mailto:sales@swordshield.com">Apply Today</a>
<h2><a name="training"></a>Alien Vault Training</h2>
Register for our Oct. 13-17 Alien Vault Certified Systems Engineer training held at our Knoxville office.

Operators with their ACSE certificate are highly <img class="size-full wp-image-8236 alignleft" alt="alienvault" src="https://www.swordshield.com/images/alienvault.png" width="116" height="73" />valuable to government, MSSP and Enterprise employers around the world. With an ACSE on staff, AlienVault customers will experience greater return on investment, better security and more efficient operational control.

<a href="https://www.swordshield.com/certified-training/registration/?action=evregister&amp;event_id=10">Register here</a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
