<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="bgTop" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center">
<table class="header" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td><img class="logo" alt="Sword and Shield Enterprise Security Newsletter" src="https://www.swordshield.com/images/newsletter-logo.gif" width="700" height="190" /></td>
</tr>
<tr>
<td bgcolor="#181818">
<h3 class="header"><span style="color: #ffffff;">June 2014 ~ Volume 6</span></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bg" width="700" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td align="center" valign="top" width="325">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="mainbar" align="left">
<h2><a name="mssp"></a>Managed Services Can Save Your Reputation and Your Pocketbook</h2>
IT security hardware and software can help you manage risks to <img class="alignright size-thumbnail wp-image-8235" alt="" src="https://www.swordshield.com/images/managed-services-e1402492689341-150x105.jpg" width="150" height="105" />your network, but an expert analyst helps you stop an attack before it happens - saving your reputation and your money.

"It's like playing detective," said Fred Cobb, Sword &amp; Shield's Enterprise Solutions and Risk and Compliance director. "We build a trend - know what it looks like - and can thwart attacks."

Sword &amp; Shield uses the AlienVault All-in-One SIEM™, a platform designed and priced to ensure that mid-market organizations can effectively defend themselves against today’s advanced threats.

<img class="size-full wp-image-8236 alignleft" alt="alienvault" src="https://www.swordshield.com/images/alienvault.png" width="116" height="73" />Our Managed Security Services team installs the box and spends about 30 days tuning the product to cater to your specific IT network. After our team learns your network, they start adding agents and customizing the device to meet your specific risk and vulnerability levels.

MSSP Security Analyst Rocky Breeden says the AlienVault tool immediately begins logging and monitoring and finds risks and vulnerabilities on a client's network even before customization.

"We've seen malware in Java, Adobe and Vista because they weren't patched," Breeden said. "We've found Cryptolocker, Crypodefense and Conficker and we see real-time DOS attacks. Mostly we see brute force attacks - people actively trying password after password to get into the network."

He said Sword &amp; Shield also uses the AlienVault tool for incident response customers who could not rid their network of viruses and malware.

"In a matter of a few days, we can have (a virus or malware) contained," he said.

Systems Engineer Brandon Thompson said customers can be as hands on as they want, but said most are happy to allow Sword &amp; Shield to manage their monthly upgrades and overall maintenance of the appliance.

Cobb added that, while larger companies often make the news when their network is breached, a company of any size can be a target.

"Don't consider yourself too small" to be immune from attacks, he said.

For more information about Sword &amp; Shield's MSSP services, please call us at <a href="&quot;tel">865-244-3500</a> or email <a href="mailto: sales@swordshield.com">sales@swordshield.com</a>.
<p class="top"><a href="#top">Back to top</a></p>

<h3></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="sidebar" align="center" valign="top" width="250">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td class="sidespace" align="left">
<h2>In this issue</h2>
<ul>
	<li><a href="#mssp">Managed Services Can Save Your Reputation</a></li>
	<li><a href="#karm">Sword &amp; Shield Paddles Up</a></li>
	<li><a href="#blog">From the Blog</a></li>
	<li><a href="#awards">Awards</a></li>
</ul>
<h2><a name="karm"></a>Sword &amp; Shield Paddles Up</h2>
Sword &amp; Shield will compete in the Knox Area
Rescue Ministries' 12th Annual Dragon Boat Festival on June 21 at The Cove in Concord Park, Farragut.

This event provides KARM with a variety of
benefits through team registration fees, paddler sponsorships, pledges and through the purchase of merchandise.

Visit the <a href="http://www.kintera.org/faf/home/default.asp?ievent=1080078" target="_blank">KARM Dragon Boat Festival's website</a> to learn more.
<h2><strong><a name="blog"></a>From the Blog</strong></h2>
<strong>Feds Disrupt Bots and Malware: </strong>Last week, the<img class="alignright size-thumbnail wp-image-8237" alt="gameover-250" src="https://www.swordshield.com/images/gameover-250-150x150.png" width="150" height="150" /> FBI, the United Kingdom’s National Crime Agency and other international law enforcement agencies disrupted the Gameover Zeus botnet and the seized computer servers central to the malicious Cryptolocker ransomware network.

<a href="https://www.swordshield.com/2014/06/09/feds-disrupt-botnets-malware-infected-thousands-computers/">Read More</a>
<h2><a name="awards"></a>Sword &amp; Shield Climbs Up the SP500 List</h2>
Sword &amp; Shield enters its eighth year on the Solutions Provider 500 list, climbing to No. 137 on the elite roster.

Formerly known as the VAR 500, the <a href="http://www.ubmchannel.com/index.htm">UBM Channel’s</a> <a href="http://www.crn.com/slide-shows/managed-services/240156825/2013-solution-provider-500-the-top-50.htm">CRN</a> SP500 ranks the highest producing solution provider organizations in the IT channel from hardware sales, software sales, and managed services.

<a href="https://www.swordshield.com/2014/06/10/sword-shield-climbs-sp500-list/"><strong>Read More</strong></a>
<table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="https://www.swordshield.com/more/about/contact/">Connect</a> with us!</h3>
</td>
</tr>
<tr>
<td class="border" align="center" valign="top">
<h3><a href="mailto: sales@swordshield.com" target="_blank">Email</a> us!</h3>
</td>
</tr>
<tr>
<td align="center" valign="top">
<h3><a href="&quot;tel:+865-244-3500">Call us!</a></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="bgBottom" style="width: 704px; height: 50px;" width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle">
<table class="footer" width="700" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">Copyright © 2014 Sword &amp; Shield Enterprise Security All rights reserved.
1431 Centerpoint Blvd., Suite 150, Knoxville, TN 37932</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
